// Variables

$color-main: #009a9a;
$color-font-dark: #323232;
$color-font-light: #e8e8e8;

$color-gray-dark: #444;
$color-gray-light: #efefef;
$color-white: #fff;
$color-black: #000;
$color-red: #f33;

$color-social-facebook: #3b5998;
$color-social-twitter: #1DA1F2;
$color-social-instagram: #3f729b;