/* Footer */

.footer {
    padding: 0 2rem;
    background-color: $color-font-dark;
    color: #fff;
    display: $color-white;
    flex-direction: column;
    align-items: center;

    @include respond(desktop) {
        padding: 0 12%;
    }

    &__logo {
        text-align: center;
        padding: 4rem 0;
        font-size: 3.6rem;
        letter-spacing: 1.5px;
        font-weight: 400;
    }
    
    &__links {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include respond(desktop) {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
    }
}

.secondary-navigation {
    &__items {
        display: flex;
        flex-direction: column;
    }

    &__item {
        list-style: none;
        display: inline-block;
        margin: 0 .5rem;
        font-size: 1.6rem;
        line-height: 4.4rem;
        letter-spacing: .75px;

        @include respond(desktop) {
            margin: 0 3rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-white;
        transition: all .2s;

        &:hover {
            color: $color-main;
        }
    } 
}

.social-navigation {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include respond(desktop) {
        flex-direction: row;
        margin-top: 1rem;
    }

    &__items {
        display: flex;
        justify-content: center;
    }
    &__item {
        list-style: none;
        display: inline-block;
        margin: 0 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.social-link {
    text-decoration: none;
    color: $color-white;

    &__icon {
        font-size: 2.4rem;
        transition: all .2s;

        &[class*="facebook"]:hover{
            color: $color-social-facebook;
            transform: translateY(-3px);
        }
        &[class*="twitter"]:hover {
            color: $color-social-twitter;
            transform: translateY(-3px);
        }
        &[class*="instagram"]:hover {
            color: $color-social-instagram;
            transform: translateY(-3px);
        }
    }
}

.sub-footer {
    border-top: 1px solid $color-gray-dark;
    border-bottom: 1px solid $color-gray-dark;
    width: 100%;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(desktop) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.change-country {
    border: 1px solid $color-gray-dark;
    padding: .7rem 2rem;
    border-radius: .5rem;

    &__flag {
        vertical-align: middle;
        margin-right: 1rem;
    }
    &__btn {
        background-color: transparent;
        border: 0;
        color: $color-white;
        transition: all .2s;
        font-size: 2rem;
        font-weight: 300;
        position: relative;

        &:hover {
            color: $color-main;
            cursor: pointer;
        }

        &--open {
            color: $color-main;
        }

        /* change country dropdown */
        .country-dropdown {
            position: absolute;
            top: 3.75rem;
            background-color: $color-white;
            width: 14rem;
            height: 16rem;
            padding: 1rem;
            transform: translateX(-1.5rem);
            border-radius: $border-radius-small;

            &--open {

                @include respond(desktop) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            @include respond(tab) {
                transform: translateX(1.75rem);
            }

            @include respond(desktop) {
                width: 30rem;
                height: auto;
                top: -.75rem;
                left: 11.5rem;
            }

            &__item {
                margin-top: .5rem;

                @include respond(desktop) {
                    margin: 0;
                    padding: 0;
                }
            }

            &__link:link,
            &__link:visited {
                color: $color-font-dark;
                font-size: 1.65rem;

                @include respond(desktop) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            &__img {
                width: 2.5rem;
                height: 1.5rem;
                margin-right: .5rem;

                @include respond(desktop) {
                    display: block;
                    text-align: center;
                    width: 3rem;
                    height: 2rem;
                    margin-bottom: .5rem;
                }
            }
        }

    }
    &__caret--down{
        margin-left: 1rem;
    }
}

.app-download {
    margin-top: 2rem;

    @include respond(desktop) {
        margin-top: 0;
    }

    &__img {
        height: 3.6rem;
        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.copyright {
    padding: 4rem 0 5rem 0;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.75px;
    line-height: 1.5;
}