/* Main */

/* mobile-first */
.main {
    width: 96%;
    margin: 0 auto;
    padding: 0;
}

/*-----------------------------------------------------------------------------------------------------------*/

/* mobile landscape */
@media only screen and (min-width: 480px) {}

/*-----------------------------------------------------------------------------------------------------------*/

/* Tablet */
@media only screen and (min-width: 768px) {
    // .main {
    //     width: 96%;
    // }
}

/*-----------------------------------------------------------------------------------------------------------*/

/* desktop */
@media only screen and (min-width: 1024px) {
    .main {
        width: 76%;
        padding: 0 3.5rem;
    }
}
