/* Mobile-first*/

.container{}

/*navbar */

/* header */
.header {
    background: url(img/photo-1540265556701-ae209ac395cd.jpg);
    background-size: cover;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.restaurant-info-wrapper {
    color: #fff;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}
.restaurant-info {}
.restaurant-info h2 {
    line-height: 36px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.restaurant-info p {
    font-size: 18px;
    line-height: 1.5;
}
.restaurant-info p span {
    float: right;
}
.restaurant-delivery {
    margin-top: 30px;
}
.restaurant-delivery h5 {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
}
.restaurant-delivery p {
    margin-top: 5px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.5px;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}
.restaurant-delivery p span {
    font-size: 12px;
    font-weight: 300;
    background-color: var(--main-color);
    padding: 4px 7px 3px 7px;
    border-radius: 15px;
    transition: all .2s;
}
.restaurant-delivery em {
    font-size: 14px;
    font-family: "Source Sans Pro",sans-serif;
}


/* main */
.main {
    width: 94%;
    margin: 0 auto;
}

.restaurant-sidebar {
    margin: 20px 0 20px 0;
    color: var(--font-color);
}
.cart-wrapper {
    border: 1px solid var(--font-color-lite);
    margin-bottom: 10px;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
}
.cart-wrapper h3 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-size: 20px;
}
.cart-wrapper i {
    font-size: 30px;
}

.menu-categories-wrapper {
    border: 1px solid var(--font-color-lite);
    margin-top: 10px;
}
.menu-categories-head {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--font-color-lite);
}
.menu-categories-head h3 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-size: 20px;
}
.menu-categories-head i {
    font-size: 30px;
}
.menu-categories-body {
    display: none;
}
.menu-categories-body ul {
    list-style: none;
    padding: 15px 35px;
}
.menu-categories-body ul li {
    font-size: 18px;
    line-height: 40px;
}

.menu-items-wrapper {
    padding: 15px 0;
    margin-bottom: 5px;
}
.menu-items-wrapper h2 {
    background-color: var(--font-color-lite);
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.25px;
    padding: 15px 0;
    border-radius: 4px;
}
.menu-items-list {
    margin: 10px 0;
}
.menu-item-row {
    display: flex;
    flex-direction: column;
}
.menu-item {
    min-height: 400px;
    margin-bottom: 10px;
}
.menu-item-cover {
    min-width: 350px;
    min-height: 245px;
    background-image: url(./img/photo-1549611016-3a70d82b5040.jpg);
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.menu-item-info {
    background-color: #fcfcfc;
    padding: 0 15px 20px 15px;
    min-height: 120px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu-item-info>div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}
.menu-item-name {
    max-width: 50%;
    font-size: 20px;
    font-weight: 400;
}
.menu-item-price {
    color: #fff;
    background-color: var(--main-color);
    padding: 2px 10px;
    border-radius: 5px;
}
.menu-item-desc {
    max-height: 44px;
    margin: 12px 0 0 0;
    line-height: 19px;
    font-size: 16px;
}

/* footer */

/*-----------------------------------------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {

    /* navbar */
    .navbar {}

    /* header */
    .search-container {
        width: 96%;
    }
    
    /* main */

    /* footer */
}

/*-----------------------------------------------------------------------------------------------*/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) {
    .menu-item-cover {
        height: auto;
    }
}

/*-----------------------------------------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {

    /* navbar */

     /* breadcrumb */
     .header-breadcrumb-wrapper span:nth-child(odd):hover {
        cursor: pointer;
    }

    /* header */
    .header {
        position: static;
        justify-content: space-around;
        background-position: center;
    }
    .restaurant-info-wrapper {
        padding: 30px 200px;
        margin-top: 200px;
        width: 75%;
    }
    .restaurant-delivery p span:hover {
        cursor: pointer;
        background-color: var(--font-color);
    }

    /* main */
    .main {
        padding: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .restaurant-sidebar {
        min-width: 30%;
    }
    .menu-categories-body {
        display: block;
    }
   
    .menu-items-category {
        width: 94%;
        margin-left: 3%;
    }

    .cart-wrapper:hover,
    .menu-categories-head:hover,
    .menu-item:hover {
        cursor: pointer;
    }

    .menu-items-wrapper {
        min-width: 65%;
        margin-right: 10px;
    }
    
    .menu-item-row {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .menu-item {
        width: 45%;
    }
  
    .menu-item-cover {
        min-width: 275px;
        transition: all .2s;
    }
    .menu-item-cover:hover {
        transform: scale(1.01);
        background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) ,url(./img/photo-1549611016-3a70d82b5040.jpg);
        background-size: cover;
        box-shadow: 10px 10px 20px rgba(0,0,0,.2);
    }
   

    .menu-item-price {
        padding: 10px;
    }

    /* footer */

}
