/* presets */
html,body
{
    box-sizing: border-box;
    font-family: Oswald, Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h1 { margin: 0; }
:root {
    --main-color: #009a9a;
    --font-color: #323232;
}
/*----------------------------------------------------------------------------------*/

/* Mobile-first*/

.wrapper{
   background-color: #fff;
}


/* header */
.header {
    background: url(img/photo-1490457843367-34b21b6ccd85.jpg);
    background-size: cover;
    height: 400px;
}

/*navbar */
.navbar {
    background-color: var(--main-color);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo {
    color: #fff;
}
.navbar-logo h2 {
    letter-spacing: 1px;
}
.navbar-collapse {
    display: inline-block;
}
.navbar-collapse span {
    font-size: 25px;
    color: #fff;
}
.nav-container {
    background-color: #acf;
    display: none;
}
ul.navbar-items li {
    display: inline-block;
    margin-right: 5px;
}

.search-container {
    margin: 45px auto 0 auto;
    padding-top: 60px;
    width: 90%;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
.search-container h2 {
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.search-form-wrapper{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
form.search input {
    display: block;
    width: 100%;
    height: 50px;
    color: #333;
    line-height: 50px;
    font-size: 18px;
    padding: 5px 15px;
    border-style: none;
    border-radius: 5px;
}
form.search button {
    display: block;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
    margin-top: 5px;
    height: 40px;
    line-height: 30px;
    font-size: 18px;
    padding: 5px 10px;
    border-style: none;
    border-radius: 5px;
}

/* main */
.app-sections {
    width: 96%;
    margin: 0 auto;
}
.categories-section {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}
.categories-section h2 {
    text-align: center;
    padding: 35px 0 20px 0;
    color: var(--font-color);
    font-size: 28px;
    font-weight: 400;
}
.categoris-container {
    height: 150px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
[class*="arrow-"] {
    border-style: none;
    background-color: var(--main-color);
    color: #fff;
    width: 30px;
    font-size: 18px;
    font-weight: 300;
}
.categories-list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.category-card {
    color: var(--font-color);
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.category-card:hover {
    background-color: var(--font-color);
    color: #fff;
}
.category-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-icon i {
    font-size: 40px;
}
.category-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.5px;
}
.active-category {
    background-color: var(--main-color);
    color: #fff;
}
.active-category .category-icon {
    border-color: #fff;
}


.showcase-section {
    padding-top: 20px;
}
.showcase-section h2 {
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--font-color);
}
.showcase-section p {
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 10px;
    color: var(--font-color);
}
.showcase-container {
    margin: 30px 0;
}
.showcase-row {
    display: flex;
    justify-content: center;
}
.showcase-col {
    margin: 5px;
}
.restaurant-card {
    min-height: 190px;
    min-width: 178px;
    background-image: url(./img/photo-1540265556701-ae209ac395cd.jpg);
    background-size: cover;
    border-radius: 10px;
}

.restaurant-name {

}
.restaurant-desc {

}
.show-all-btn {
    width: 92%;
    border-style: none;
    border: 0;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
    margin-top: 5px;
    font-size: 20px;
    padding: 10px 0;
}


.info-section {
    background-color: #99f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-section {
    background-color: #9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-download-links button {
    display: inline-block;
}


/* footer */
.footer {
    background-color: var(--font-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo {
    text-align: center;
    padding: 40px 0;
    font-size: 36px;
    letter-spacing: 1.5px;
}
.footer-container {
    background-color: #6d6;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-links {
    display: flex;
    flex-direction: column;
}
.footer-links li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}
.social-links {
    background-color: #77f;
}
.social-links li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.sub-footer {
    background-color: #d7d;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.select-country-wrapper {
    border: 3px solid #000;
    margin-left: 20px;
}
.footer-app-downloads {
    border: 3px solid #000;
    margin-right: 20px;
}
.footer-app-downloads button {
    display: inline-block;
}

.copyright {
    background-color: #aaa;
}


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
    .navbar {
        background-color: yellow;
    }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
    .navbar {
        background-color: red;
    }
    .nav-container {
        display: inline-block;
    }
    .navbar-collapse {
        display: none;
    }
}

