/* Mobile-first*/

/* header */
.search {
    margin: 4.5rem auto 0 auto;
    padding-top: 15%;
    width: 94%;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
.search__title {
    font-weight: 300;
    font-size: 200%;
    color: #fff;
    text-shadow: .2rem .2rem .1rem rgba(0,0,0,0.2);
    line-height: 125%;
}
.search__box{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}
.search__input {
    display: block;
    width: 100%;
    height: 5rem;
    color: #333;
    font-size: 200%;
    padding: .5rem 1.5rem;
    border-style: none;
    border-radius: .5rem;
    letter-spacing: .5px;
}
.search__submit {
    display: block;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
    margin-top: .5rem;
    height: 4rem;
    line-height: 3rem;
    font-size: 2rem;
    padding: .5rem 1rem;
    border-style: none;
    border-radius: .5rem;
    letter-spacing: .5px;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
}

/* main sections */
.main {
    width: 96%;
    margin: 0 auto;
}

/* categories section */
.categories-section {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}
.categories-section h2 {
    text-align: center;
    padding: 4rem 0 0 0;
    color: var(--font-color);
    font-size: 2.8rem;
    font-weight: 400;
}
.categoris-container {
    overflow-x: hidden;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}
[class*="arrow-"] {
    border-style: none;
    background-color: var(--main-color);
    color: #fff;
    min-width: 2.5rem;
    font-size: 1.8rem;
    font-weight: 300;
    margin-right: .5rem;
    transition: all .2s;
}
[class*="arrow-"]>i {
    margin-left: -.3rem;
 }
.categories-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.category-card {
    width: 12.5rem;
    height: 16.5rem;
    color: var(--main-color);
    list-style: none;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: .2rem solid var(--main-color);
    transition: all .2s;
}

.category-icon {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border-style: solid;
    border-width: .2rem;
    border-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-icon i {
    font-size: 4rem;
}
.category-name {
    font-size: 200%;
    line-height: 2.2rem;
    letter-spacing: 1px;
}
.category-name h4 {
    font-weight: 400;
}
.active-category {
    background-color: var(--main-color);
    color: #fff;
}
.active-category .category-icon {
    border-color: #fff;
}

/* showcase section */
.showcase-section {
    padding-top: 2rem;
}
.showcase-section h2 {
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--font-color);
}
.showcase-section p {
    line-height: 2.8rem;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    color: var(--font-color);
}
.showcase-container {
    margin: 3rem 0;
}
.showcase-row {
    display: flex;
    justify-content: center;
}
.showcase-col {
    margin: .5rem;
}
.restaurant-card {
    min-height: 20rem;
    min-width: 17.7rem;
    border-radius: 1rem;
    background-color: #000;
    color: #fff;
    position: relative;
    transition: all .2s;
}
.restaurant-card > a {
    color: #fff;
} 
.restaurant-img {
    width: 100%;
    height: 19.8rem;
    border-radius: 1rem;
    opacity: 0.7;
}
.restaurant-name {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 4rem;
    left: 1rem;
}
.restaurant-desc {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    line-height: 1.8rem;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
}
.big-card {
    width: 36.5rem;
    height: 35rem;
}
.big-card .restaurant-name {
    font-size: 3.6rem;
    letter-spacing: 0.5px;
    bottom: 7rem;
    left: 2rem;
}
.big-card .restaurant-desc {
    font-size: 2.4rem;
    letter-spacing: 0.5px;
    line-height: 150%;
    bottom: 3rem;
    left: 2rem;
}
.big-card .restaurant-img {
    height: 100%;
}
.show-all-btn {
    width: 98%;
    border-style: none;
    border: 0;
    border-radius: .5rem;
    background-color: var(--main-color);
    color: #fff;
    margin: .5rem auto;
    margin-left: 1%;
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    transition: all .2s;
}
.show-all-btn > a {
    color: #fff;
    text-decoration: none;
}

/* info section */
.info-section {
    background-color: #99f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* app section */
.app-section {
    background-color: #9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-download-links button {
    display: inline-block;
}


/* footer */

/*-----------------------------------------------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {

    /* header */
    .search {
        width: 96%;
        padding-top: 10%;
    }
    
    /* main sections */

    /* categories section */

    /* showcase section */
    .showcase-col {
        width: 100%;
    }
    
    .big-card {
        width: 100%;
    }

    /* info section */

    /* app section */
}

/*-----------------------------------------------------------------------------------------------------*/

/* Tablet screen Sizes */
@media only screen and (min-width: 768px) {
    
    /* header */
    .search {
        padding: 10rem;
        margin: 0 auto;
        margin-top: 4rem;
        width: 80%;
    }
    .search__title {
        font-size: 3.6rem;
    }
    .search__submit:hover {
        cursor: pointer;
        background-color: var(--font-color);
        transition: background-color 0.2s;
    }

    /* main sections */
    .main {
        padding: 0;
        width: 86%;
    }

    /* categories section */
    .categories-list {
        width: 100%;
        justify-content: space-between;
    }
    [class*="arrow-"] {
        min-width: 3rem;
    }
    .category-card {
        min-width: 18rem;
    }

    /* showcase section */
    .showcase-container {}
    .showcase-row {}

    .restaurant-card:hover {
        transform: scale(1.01);
        transition: transform 0.3s, opacity 0.3s;
    }
    .restaurant-name,
    .restaurant-desc {
        text-align: center;
    }
    .restaurant-name {
        font-size: 3.6rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    .restaurant-desc {
        font-size: 3rem;
    }
    .show-all-btn {
        width: 49%;
        text-align: center;
        margin-left: 0.5%;
    }

    /* info section */

    /* app section */
    
}


/*-----------------------------------------------------------------------------------------------------*/

/* Desktop screen sizes */
@media only screen and (min-width: 1024px) {
    .search {
        width: 40%;
        margin-left: 1rem;
        margin-top: 6.5rem;
    }
    .search__title {
        font-size: 3.8rem;

        animation: moveInLeft 1s ease-out;
    }

    .search__box {
        animation: moveInRight 1s ease-out;
    }
    .search__submit:hover {
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.7);
    }
    .search__submit:active {
        transform: translate(-1px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.7);
    }

    .main {
        padding: 0 3.5rem;
    }

    [class*="arrow-"]:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: .5rem 1rem 2rem rgba(0,0,0,0.2);
    }    

    .category-card:hover {
        cursor: pointer;
        color: var(--main-color);
        transform: scale(1.05) translateY(-.5rem);
    }
    .active-category:hover {
        color: #fff;
    }

    .show-all-btn:hover {
        cursor: pointer;
        background-color: var(--font-color);
        transform: translateY(-.3rem);
    }
}