/* Mobile-first*/

.container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

/*navbar */

/* main */
.main {
    width: 100%;
}

.login-wrapper {
    margin-top: 10rem;
    border-radius: .5rem 0 0 .5rem;
    height: 700px;
    display: block;
    width: 100%;

    overflow: hidden;
    background: url(./img/photo-1484659619207-9165d119dafe.jpg) no-repeat center center transparent;
    position: relative;
}
.login-form {
    width: 100%;
    top: 10rem;
    padding: 1rem 2.5rem;
    position: relative;
    z-index: 19;
    visibility: visible;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;

    color: #fff;
}
.login-form h3 {
    font-size: 2.4rem;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 1rem;
}
.form-group {
    margin-bottom: 30px;
}
input[type="text"] {
    width: 100%;
    font-size: 1.8rem;
    background: none;
    border: 0;
    border-bottom: 1px solid var(--font-color-lite);
    color: #fff;
    border-radius: 0;
    width: 100%;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}
.remember-me {
    margin-top: 4rem;
    margin-bottom: 3rem;
}
input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin: .5rem 0;
    cursor: pointer;
    margin-top: 1.7rem;
    margin-right: 1rem;
}
.remember-me label {
    font-family: "Source Sans Pro",sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding-top: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin: .5rem 0;
    cursor: pointer;
    min-height: 2rem;   
}
.submit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit-form button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;

    width: 50%;

    border: 0;
    background-color: var(--main-color);
    font: 400 16px/22px "Oswald",sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem;

    color: #fff;
}
.forget-password {
    font-size: 1.6rem;
}
.sign-up {
    position: relative;
    bottom: 10rem;

    border-radius: 0 .5rem .5rem 0;
    height: 20rem;
    width: 100%;

    background-color: var(--main-color);
}
.sign-up>div {
    padding: 4rem 2.5rem;
}
.sign-up h3 {
    margin-bottom: 1rem;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 2.4rem;
    color: #fff;
}
.sign-up button {
    width: 100%;
    background: #fff;
    color: var(--font-color);
    padding: 1rem 1rem;
    font-size: 1.4rem;
    border: 1px solid #fff;
    transition: all 0.2s ease-in-out;
    margin-top: 2rem;
    border-radius: .4rem;
    font: 400 16px/22px "Oswald",sans-serif;
}

/*--- animation ---*/
.submit-form {
    animation: moveInUp-short .65s ease-out .2s;
    animation-fill-mode: backwards;
}
.login-form h3,
.form-group,
.remember-me {
    animation: moveInDown-short .65s ease-out .2s;
    animation-fill-mode: backwards;
}

/* footer */

/*-----------------------------------------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {

    /* navbar */

    /* header */
        
    /* main */
   
    /* footer */
}

/*-----------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {}

/*-----------------------------------------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {

    .wrapper {
        display: flex;
        justify-content: center;

        margin-top: 5rem;
        margin-bottom: 15rem;

        padding: 0 10rem;
    }

    /* navbar */
    
    /* main */
    .main {
        padding: 0 .5rem;
    }

    .login-wrapper {
        background: url(./img/photo-1484659619207-9165d119dafe.jpg) no-repeat center center transparent;

        margin-top: 0;
        top: 10rem;

        height: 50rem;
        width: 200vw;
    }
    .submit-form button:hover {
        background-color: var(--font-color);
        cursor: pointer;
    } 
    .forget-password:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .sign-up {
        bottom: 0;
        top: 10rem;
        height: 50rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sign-up button:hover {
        background-color: var(--font-color);
        color: var(--font-color-lite);
        cursor: pointer;
        transition: 0.3s;
    }


    /* footer */
}


