/* Mobile-first*/

.container {
    padding-right: 15px;
    padding-left: 15px;
}

/*navbar */

/* main */
.main {
    width: 100%;
}

.login-wrapper {
    margin-top: 100px;
    border-radius: 5px 0 0 5px;
    height: 700px;
    display: block;
    width: 100%;

    overflow: hidden;
    background: url(./img/photo-1484659619207-9165d119dafe.jpg) no-repeat center center transparent;
    position: relative;
}
.login-form {
    width: 100%;
    top: 100px;
    padding: 10px 25px;
    position: relative;
    z-index: 19;
    visibility: visible;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;

    color: #fff;
}
.login-form h3 {
    font-size: 24px;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 30px;
}
input[type="text"] {
    width: 100%;
    font-size: 18px;
    background: none;
    border: 0;
    border-bottom: 1px solid var(--font-color-lite);
    color: #fff;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
.remember-me {
    margin-top: 40px;
    margin-bottom: 30px;
}
input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    cursor: pointer;
    margin-top: 17px;
    margin-right: 10px;
}
.remember-me label {
    font-family: "Source Sans Pro",sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    cursor: pointer;
    min-height: 20px;   
}
.submit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit-form button {
    padding: 10px 20px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;

    width: 50%;

    border: 0;
    background-color: var(--main-color);
    font: 400 16px/22px "Oswald",sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    color: #fff;
}
.forget-password {
    font-size: 16px;
}
.sign-up {
    position: relative;
    bottom: 100px;

    border-radius: 0 5px 5px 0;
    height: 200px;
    width: 100%;

    background-color: var(--main-color);
}
.sign-up>div {
    padding: 40px 25px;
}
.sign-up h3 {
    margin-bottom: 10px;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 24px;
    color: #fff;
}
.sign-up button {
    width: 100%;
    background: #fff;
    color: var(--font-color);
    padding: 10px 10px;
    font-size: 14px;
    border: 1px solid #fff;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
    border-radius: 4px;
    font: 400 16px/22px "Oswald",sans-serif;
}

/* footer */

/*-----------------------------------------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {

    /* navbar */

    /* header */
        
    /* main */
   
    /* footer */
}

/*-----------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {}

/*-----------------------------------------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {

    .wrapper {
        display: flex;
        justify-content: center;

        margin-top: 50px;
        margin-bottom: 150px;

        padding: 0 100px;
    }

    /* navbar */
    
    /* main */
    .main {
        padding: 0 5px;
    }

    .login-wrapper {
        background: url(./img/photo-1484659619207-9165d119dafe.jpg) no-repeat center center transparent;

        margin-top: 0;
        top: 100px;

        height: 500px;
        width: 200vw;
    }
    .submit-form button:hover {
        background-color: var(--font-color);
        cursor: pointer;
    } 
    .forget-password:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .sign-up {
        bottom: 0;
        top: 100px;
        height: 500px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sign-up button:hover {
        background-color: var(--font-color);
        color: var(--font-color-lite);
        cursor: pointer;
        transition: 0.3s;
    }


    /*--- animation ---*/
    .submit-form {
        animation: moveInUp-short .65s ease-out .3s;
        animation-fill-mode: backwards;
    }
    .login-form h3,
    .form-group,
    .remember-me {
        animation: moveInDown-short .65s ease-out .3s;
        animation-fill-mode: backwards;
    }


    /* footer */
}


