/* presets */
html,body
{
    box-sizing: border-box;
    font-family: Oswald, Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h1 { margin: 0; }
:root {
    --main-color: #009a9a;
    --font-color: #323232;
    --font-color-lite: #e8e8e8;
}
/*----------------------------------------------------------------------------------*/

/* Mobile-first*/

.wrapper{
   /* background-color:#f9f9f9;; */
}

/*navbar */
.navbar {
    z-index: 2;
    background-color: var(--main-color);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo {
    color: #fff;
}
.navbar-logo h2 {
    letter-spacing: 1px;
}
.navbar-collapse {
    display: inline-block;
}
.navbar-collapse span {
    font-size: 25px;
    color: #fff;
}
.nav-container {
    display: none;
}
ul.navbar-items li {
    display: inline-block;
    margin-right: 5px;
}
.nav-category {
    position: relative;
}
.nav-category:hover {
    color: var(--font-color-lite);
}
.nav-category i {
    font-size: 26px;
    position: absolute;
    bottom: -8px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    padding: 3px;
}



/* main */
.main {
    width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.login-wrapper {
    margin-top: 100px;
    border-radius: 4px 4px 0 0;
    height: 700px;
    display: block;
    width: 100%;

    overflow: hidden;
    background: url(./img/photo-1484659619207-9165d119dafe.jpg) no-repeat center center transparent;
    position: relative;
    border-radius: 5px;
}
.login-form {
    width: 100%;
    top: 100px;
    padding: 10px 25px;
    position: relative;
    z-index: 19;
    visibility: visible;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;

    color: #fff;
}
.login-form h3 {
    font-size: 24px;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 30px;
}
input[type="text"] {
    width: 100%;
    font-size: 18px;
    background: none;
    border: 0;
    border-bottom: 1px solid var(--font-color-lite);
    color: #fff;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
.remember-me {
    margin-top: 40px;
    margin-bottom: 30px;
}
input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    cursor: pointer;
    margin-top: 17px;
    margin-right: 10px;
}
.remember-me label {
    font-family: "Source Sans Pro",sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    cursor: pointer;
    min-height: 20px;   
}
.submit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit-form button {
    padding: 10px 20px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;

    width: 50%;

    border: 0;
    background-color: var(--main-color);
    font: 400 16px/22px "Oswald",sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    color: #fff;
}
.forget-password {
    font-size: 16px;
}
.sign-up {
    position: relative;
    bottom: 100px;

    border-radius: 0 0 4px 4px;
    height: 200px;
    width: 100%;

    background-color: var(--main-color);
}
.sign-up>div {
    padding: 40px 25px;
}
.sign-up h3 {
    margin-bottom: 10px;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 24px;
    color: #fff;
}
.sign-up button {
    width: 100%;
    background: #fff;
    color: var(--font-color);
    padding: 10px 10px;
    font-size: 14px;
    border: 1px solid #fff;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
    border-radius: 4px;
    font: 400 16px/22px "Oswald",sans-serif;
}



/* footer */
.footer {
    padding: 0 20px;
    background-color: var(--font-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo {
    text-align: center;
    padding: 40px 0;
    font-size: 36px;
    letter-spacing: 1.5px;
}
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-links {
    display: flex;
    flex-direction: column;
}
.footer-links li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    line-height: 44px;
}
.social-links-wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
}
.social-links {
    display: flex;
    justify-content: center;
}
.social-links li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.social-links li i {
    font-size: 24px;
}

.sub-footer {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    width: 100%;
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-country-wrapper {
    border: 1px solid #444;
    padding: 7px 40px;
    border-radius: 5px;
}
.change-country-wrapper img {
    vertical-align: middle;
}
.change-country-btn {
    background-color: transparent;
    border: 0;
    color: #fff;
}
.country-flag {
    margin-right: 12px;
}
.change-country-btn i{
    margin-left: 20px;
}

.footer-app-downloads {
    margin-top: 20px;
}
.footer-app-downloads img {
    height: 36px;
}
.copyright {
    padding: 40px 0 50px 0;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}



/* Mobile Landscape or Tablet Screen Sizes */
@media only screen and (min-width: 480px)  {

    /* navbar */
    .navbar {
        /* background-color: yellow; */
    }

    /* header */
    
    
    /* main */


   
    /* footer */
}



/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

    /* navbar */
    .navbar {
        /* background-color: red; */
        height: 60px;
        padding: 0 100px;
    }
    .navbar-logo {
        font-size: 22px;
    }
    .nav-container {
        display: inline-block;
    }
    .navbar-items {
        font-size: 18px;
        color: #fff;
    }
    .navbar-items li {
        margin: 0 15px 0 15px;
    }
    .navbar-items li:hover {
        color: var(--font-color);
        cursor: pointer;
    }
    .navbar-items .country-flag {
        margin-right: 3px;
        vertical-align: middle;
    }
    .nav-language {}
    .nav-country i {
        font-size: 14px;
    }
    .nav-cart {
        position: relative;
    }
    .nav-cart em {
        position: absolute;
        top: -12px;
        right: -12px;
        height: 20px;
        width: 20px;
        font: 400 12px/22px "Oswald",sans-serif;
        background-color: #fff;
        color: var(--main-color);
        border-radius: 50%;
        text-align: center;
        vertical-align: middle ;
        box-sizing: content-box;
        border: 2px solid var(--main-color);
        padding: 2px;
        transform: scale(1);
        transform-origin: 50% 50%;
        text-transform: uppercase;
    }
    .nav-cart i {
        font-size: 22px;
    }
    .nav-cart img {
        vertical-align: middle;
    }
    .navbar-collapse {
        display: none;
    }

    
    /* main */
    .main {
        padding: 0 5px;
    }

   
    .container {
        display: flex;
        justify-content: center;

        margin-top: 50px;
        margin-bottom: 150px;

        padding-right: 250px;
        padding-left: 250px;
    }
    .login-wrapper {
        background: url(./img/photo-1484659619207-9165d119dafe.jpg) no-repeat center center transparent;

        margin-top: 0;
        top: 100px;

        height: 500px;
        width: 200vw;
    }
    .sign-up {
        bottom: 0;
        top: 100px;
        height: 500px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    /* footer */
    .footer {
        padding: 0 100px;
    }
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .footer-links {
        flex-direction: row;
    }
    .footer-links li {
        margin: 0 30px;
    }
    .social-links-wrapper {
        margin-top: 10px;
    }
    .sub-footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-app-downloads {
        margin-top: 0;
    }
}

/* checkpoint #2 */

