/* Cart Modal */ 

@import "../abstracts/variables";

.cart-modal {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    opacity: 1;
    background-color: rgba($color-black, .5);

    overflow-x: hidden;
    overflow-y: auto;

    &--open {
        display: block;
    }
    &--close {
        display: none;
    }
    &__content {
        position: relative;
        background-color: $color-white;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba($color-black, .2);
        border-radius: .6rem;
        outline: 0;
        -webkit-box-shadow: 0 .3rem .9rem rgba($color-black, .5);
        box-shadow: 0 .3rem .9rem rgba($color-black, .5);
    
        padding: 1rem 2rem 2rem;
        border-radius: .4rem;
        width: inherit;
        height: inherit;
        margin: 0 auto;
        pointer-events: all;
        border: 0;
        -webkit-box-shadow: 0px .2rem 2.9rem .7rem rgba($color-black, .2);
        -moz-box-shadow: 0px .2rem 2.9rem .7rem rgba($color-black, .2);
        box-shadow: 0px .2rem 2.9rem .7rem rgba($color-black, .2);
    
        margin-top: 10rem;
        margin-bottom: 5rem;
        padding-bottom: 0;
    }
    &__content--animated {
        animation: moveInDown .65s ease-out;
    }
    
    &__body {
        position: relative;
        padding: 1.5rem;
        padding-top: .5rem;
        padding: 2rem 0 2rem 0;
        min-height: 20rem;
    
        display: flex;
        flex-direction: column;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $color-font-light;
    }
    &__header-row {
        display: flex;
    }
    &__icon {
        font-size: 3rem;
    }
    &__title {
        margin-left: 1rem;
        font-size: 2.4rem;
    }
    &__close {
        color: $color-main;
        transition: all .2s;

        &-icon {
            font-size: 2.4rem;
        }
    }

    &__checkout {
        margin: 4rem auto 2rem auto;
        margin-top: 4rem;
        width: 98%;
        text-align: center;
    
        font: 400 20px/26px "Oswald",sans-serif;
        padding: 1.5rem 1rem;
        text-align: center;
        letter-spacing: 0.5px;
        border: none;
        border-radius: 4px;
        width: 100%;
        background-color: $color-main;
        color: #fff;
        line-height: 2.2rem;
        transition: all .2s;
    }
}

 .vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 96%;
    pointer-events: none;
    margin: 0 auto;
 }
 .modal-dialog {
    position: relative;
    width: auto;
    margin: 1rem;

    display: table-cell;
    vertical-align: middle;
    pointer-events: none;

    transition: transform .3s ease-out;

    transform: translate(0,0);
}

/* cart items */
.cart-items {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $color-font-light;

    .cart-item {
        margin-bottom: 2rem;
    
        &__info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
        &__name,
        &__price {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.2rem;
        }
    }
}

/* cart controls */
.cart-controls {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
        padding-bottom: .6rem;
        border-radius: .4rem;
        vertical-align: middle;
        width: 3.8rem;
        height: 3.7rem;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        margin-right: .5rem;
    }    
}

.cart-pricing {
    font-size: 1.6rem;
    font-weight: 300;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

    &--total {
        font-size: 1.8rem;
        margin-top: 1.5rem;
        border-top: 1px solid $color-font-light;
    }
}

/*-----------------------------------------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {
     .cart-view-modal .modal-content {
        margin-top: 1rem;
    }
}

/*-----------------------------------------------------------------------------------------------*/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) {}

/*-----------------------------------------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {

    .cart-modal {
        &__content {
            width: 60%;
        }
        &__body {
            padding: 2rem;
        }
        &__close:hover {
            cursor: pointer;
            color: $color-font-dark;
            box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
        }
        &__checkout:hover {
            cursor: pointer;
            background-color: $color-font-dark;
            transform: translateY(-3px);
        }
    }

    .cart-controls__btn:hover {
        cursor: pointer;
        background-color: $color-font-dark;
        color: $color-white;
        border: none;
    }
}