.category-dropdown {
    display: none;
    list-style: none;
    padding-top: 1rem;
    padding-left: .5rem;
    position: static;

    &--open {
        display: block;
    }

    &__item {
        margin-top: 2rem;
    }

    &__link:link,
    &__link:visited {
        display: flex;
        align-items: center;
        font-weight: 100;
        font-size: 1.75rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    &__icon {
        margin-right: 1.75rem;
        background-color: $color-white;
        color: $color-font-dark;
        padding: .35rem;
        border-radius: 50%;
    }
}