/* Mobile-first*/

.header-breadcrumb-wrapper {
    width: 100%;
    height: 6rem;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    position: absolute;
    top: 4rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.header-breadcrumb-wrapper span {
    margin-right: .5rem;
    font-size: 150%;
}
.header-breadcrumb-wrapper i:first-child{
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 2rem;
    margin-right: .5rem;
}

/*------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px) {}

/*------------------------------------------------------------*/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) {
    .header-breadcrumb-wrapper {
        padding-left: 10rem;
        padding-top: 2.5rem;
    }
}

/*------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {
    .header-breadcrumb-wrapper {
        padding-left: 11rem;
        padding-top: 3rem;
        color: #fff;
    }
}