/* Mobile-first*/

.header-breadcrumb-wrapper {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    position: absolute;
    top: 40px;
    padding-top: 15px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.header-breadcrumb-wrapper span {
    margin-right: 5px;
}
.header-breadcrumb-wrapper i:first-child{
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 20px;
    margin-right: 5px;
}

/*------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px) {}

/*------------------------------------------------------------*/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) {}

/*------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {
    .header-breadcrumb-wrapper {
        padding-left: 170px;
        padding-top: 30px;
        color: #fff;
    }
}