/* Mobile-first*/

.breadcrumb {
    width: 100%;
    height: 5rem;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    position: absolute;
    top: 4rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
}
.breadcrumb__list {
    list-style: none;
    display: flex;
}
.breadcrumb__item {
    font-size: 1.7rem;
    padding: .3rem;
}
.breadcrumb__item--back {
    border: 1px solid var(--font-color-lite);
    border-radius: .3rem;
    padding: 0;
}
.breadcrumb__link {
    text-decoration: none;
    color: #fff;
    /* transition: all .1s; */
    /* text-shadow: .5rem .5rem 1rem rgba(0,0,0,7); */
}

/*------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px) {}

/*------------------------------------------------------------*/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) {
    .breadcrumb {
        padding-left: 10rem;
        padding-top: 2.5rem;
    }
}

/*------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {
    .breadcrumb {
        height: 8rem;
        padding-left: 11rem;
        padding-top: 3rem;
        color: #fff;
    }
    .breadcrumb__item:hover {
        cursor: pointer;
    }
    .breadcrumb__link:hover {
        border-bottom: 2px solid #fff;
    } 
}