/*cart view modal */
.cart-view-modal {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    opacity: 1;
}
.cart-view-modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-open {
    display: block;
}
.modal-close {
    display: none;
}
 .vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 96%;
    pointer-events: none;
    margin: 0 auto;
 }
 .cart-view-modal  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;

    display: table-cell;
    vertical-align: middle;
    pointer-events: none;

    transition: transform .3s ease-out;

    transform: translate(0,0);
}
.cart-view-modal .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);

    padding: 10px 20px 20px;
    border-radius: 4px;
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
    border: 0;
    -webkit-box-shadow: 0px 2px 29px 7px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 29px 7px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 29px 7px rgba(0,0,0,0.2);

    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 0;
}
.cart-view-modal .modal-body {
    position: relative;
    padding: 15px;

    padding-top: 5px;

    padding: 20px 0 20px 0;
    min-height: 200px;

    display: flex;
    flex-direction: column;
}
.cart-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--font-color-lite);
}
.cart-header>div {
    display: flex;
}
.cart-header i {
    font-size: 30px;
}
.cart-header h3 {
    margin-left: 10px;
    font-size: 24px;
}
.cart-header .close {
    color: var(--main-color);
}
.cart-header .close i {
    font-size: 24px;
}
.cart-items {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--font-color-lite);
}
.cart-items .item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cart-items .item-info .item-name,
.cart-items .item-info .item-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.item-count-price {
    display: flex;
}
.item-count-price .btn-cart {
    padding-bottom: 6px;
    border-radius: 4px;
    vertical-align: middle;
    width: 38px;
    height: 37px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: 5px;
}
.item-count-price .btn-cart:nth-child(odd):hover {
    background-color: var(--font-color-lite);
}
.item-count-price .btn-cart:nth-child(odd) {
    background-color: var(--font-color-lite);
}
.cart-pricing {
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.cart-total {
    font-size: 18px;
    margin-top: 15px;
    border-top: 1px solid var(--font-color-lite);
}
.checkout-btn-wrapper {
    margin: 40px auto 20px auto;
    margin-top: 40px;
    width: 98%;
    text-align: center;
}
.checkout-btn-wrapper button {
    font: 400 20px/26px "Oswald",sans-serif;
    padding: 15px 10px;
    text-align: center;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    line-height: 22px;
}


/* Mobile Landscape or Tablet Screen Sizes */
@media only screen and (min-width: 480px)  {
     .cart-view-modal .modal-content {
        margin-top: 10px;
    }
}


/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
     .cart-view-modal .modal-content {
        width: 60%;
    }
}