/* Mobile-first*/

.header {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(../img/photo-1490457843367-34b21b6ccd85.jpg);
    background-size: cover;
    height: 450px;
}

/*------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {}

/*------------------------------------------------------------*/

/* Tablet screen Sizes */
@media only screen and (min-width: 768px) {
    .header {
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                    url(../img/photo-1466978913421-dad2ebd01d17.jpg);
        background-size: cover;
        background-position: center;
    }
}

/*------------------------------------------------------------*/

/* Desktop screen sizes */
@media only screen and (min-width: 1024px) {}