/* menu item modal */

.menu-item-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 2;
    background-color: rgba(0,0,0,.5);
}
.menu-item-modal--open {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.menu-item-modal--close {
    display: none;
    overflow-y: auto;
}

.menu-item-modal__content {
    background-color: #fff;
    margin: 0 1rem;
    margin-top: 15rem;
    position: relative;
    padding: 1rem 2rem 2rem;
    border-radius: .4rem;
    padding: 1rem 2rem 2rem;
    border-radius: .4rem;
    border: 1px solid var(--font-color-lite);
    z-index: 3;
}
.menu-item-modal__content--animated {
    animation: moveInDown .65s ease-out;
}

.menu-item-modal__container {
    position: relative;
    left: 0;
}
.modal__head{
    max-height: 22rem;
    position: absolute;
    top: -10rem;
}
.menu-item-modal__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    width: 2.7rem;
    height: 2.7rem;
    border: 1px solid #000;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--font-color-lite);
    background-color: var(--main-color);
    color: #fff;
    padding-top: .5rem;
    transition: all .2s;
}
.menu-item-modal__item-img {
    width: 100%;
    max-height: 22rem;
    max-width: 100%;
    border-radius: .8rem;
    box-shadow: 0px .4rem 1.2rem -1px rgba(0,0,0,0.4);
}
.menu-item-modal__body {
    padding-top: 15rem;
    color: var(--font-color);
}

.dish-info {
    padding-bottom: 3rem;
}
.dish-info__row {
    display: flex;
    justify-content: space-between;
}
.dish-info__name {
    width: 60%;
    display: inline-block;
    padding-bottom: .8rem;
    font-size: 2.4rem;
}
.dish-info__price {
    font-size: 2rem;
}
.dish-info__desc {
    font-size: 1.5rem;
}

/* dish options */
.dish-options {
    padding-bottom: 2rem;
}
.dish-options__title {
    font-size: 2rem;
    line-height: 2.8rem;
}

.validation-info {
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid #f4f4f5;
}
.validation-info--required {
    color: #f33;
}
.validation-info--optional {
    color: var(--main-color);
}

.dish-options__sigle-selection {
    list-style: none;
}
.dish-option {
    font: 300 17px/38px "Source Sans Pro",sans-serif;
    display: flex;
    justify-content: space-between;
}
.dish-option__name {
    padding-left: .3rem;
}
.dish-option__price {
    font-size: 1.4rem;
}

.dish-option__input-textarea {
    width: 100%;
    border-radius: .3rem;
    padding: .5rem;
    font-size: 1.5rem;
}

.menu-item-modal__footer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.cart-controls {
    display: flex;
    justify-content: space-evenly;
}
.cart-controls__btn {
    width: 5.2rem;
    height: 5.2rem;
    font: 300 42px/38px "Source Sans Pro",sans-serif;
    border: 1px solid #f4f4f5;
    text-align: center;
    vertical-align: middle;
    padding-top: .5rem;
    transition: all .2s;
}
.cart-controls__count {
    min-width: 5rem;
    min-height: 5.2rem;
    text-align: center;
    font: 400 22px/42px "Oswald",sans-serif;
    letter-spacing: 1px;
    padding-top: .3rem;
}

.add-order-btn {
    background-color: var(--main-color);
    font: 400 16px/22px "Oswald",sans-serif;
    text-transform: uppercase;
    padding: 1rem 1rem;
    text-align: center;
    letter-spacing: 0.5px;
    border: none;
    border-radius: .4rem;
    color: #fff;
    transition: all .2s;
}

/*-----------------------------------------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {}

/*-----------------------------------------------------------------------------------------------*/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) {}

/*-----------------------------------------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {
    .menu-item-modal__content {
        width: 40%;
        margin: 2rem auto;
        top: 10rem;
    }
    .menu-item-modal__head {
        top: -10rem;
    }

    .menu-item-modal__close:hover {
        cursor: pointer;
        box-shadow: .5rem .5rem 1rem rgba(0,0,0,0.2);
        background-color: var(--font-color);
    }

    .cart-controls__btn:hover {
        cursor: pointer;
        transition: 0.2s;
        box-shadow: .5rem .5rem 1rem rgba(0,0,0,0.2);
    }

    .add-order-btn:hover {
        cursor: pointer;
        background-color: var(--font-color);
        transform: translateY(-2px);
        box-shadow: .5rem .5rem 1rem rgba(0,0,0,.2);
    }
}