*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%; /* (10px/16px)=> root font-size = 10px */
}

body {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;

    box-sizing: border-box;
}

h1 { margin: 0; }

:root {
    --main-color: #009a9a;
    --font-color: #323232;
    --font-color-lite: #e8e8e8;
}

.container {
    margin: 0 auto;
}
