*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html{
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    width: 100%;
    height: 100%;
}

h1 { margin: 0; }

:root {
    --main-color: #009a9a;
    --font-color: #323232;
    --font-color-lite: #e8e8e8;
}

.container {
    margin: 0 auto;
}
