/* presets */
html,body
{
    box-sizing: border-box;
    font-family: Oswald, Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h1 { margin: 0; }
:root {
    --main-color: #009a9a;
    --font-color: #323232;
    --font-color-lite: #e8e8e8;
}
/*----------------------------------------------------------------------------------*/

/* Mobile-first*/

.wrapper{
   /* background-color:#f9f9f9;; */
}

/*navbar */
.navbar {
    z-index: 2;
    background-color: var(--main-color);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo {
    color: #fff;
}
.navbar-logo h2 {
    letter-spacing: 1px;
}
.navbar-collapse {
    display: inline-block;
}
.navbar-collapse span {
    font-size: 25px;
    color: #fff;
}
.nav-container {
    display: none;
}
ul.navbar-items li {
    display: inline-block;
    margin-right: 5px;
}
.nav-category {
    position: relative;
}
.nav-category:hover {
    color: var(--font-color-lite);
}
.nav-category i {
    font-size: 26px;
    position: absolute;
    bottom: -8px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    padding: 3px;
}

/* header */
.header {
    background: url(img/photo-1540265556701-ae209ac395cd.jpg);
    background-size: cover;
    background-position: center center;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.header-breadcrub-wrapper {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    position: absolute;
    top: 40px;
    padding-top: 15px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.header-breadcrub-wrapper span {
    margin-right: 5px;
}
.header-breadcrub-wrapper i:first-child{
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 20px;
    margin-right: 5px;
}

.restaurant-info-wrapper {
    color: #fff;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}
.restaurant-info {}
.restaurant-info h2 {
    line-height: 36px;
    font-size: 28px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.restaurant-info p {
    font-size: 18px;
    line-height: 1.5;
}
.restaurant-info p span {
    float: right;
}


/* main */
.main {
    width: 100%;
}

.checkout-wrapper {
    display: flex;
    flex-direction: column;
}
.checkout-info-box {
    padding: 30px 40px;
    width: 90%;
    margin: 20px auto;
    border: 1px solid var(--font-color-lite);
    border-radius: 5px;
}
.checkout-info-wrapper {
}
.customer-info {
    background-color: #fff;
    border-top: 7px solid var(--main-color);
}
.customer-info h3 {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 24px;
}
.customer-info p {
    line-height: 22px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 300;
}
.customer-form {
    margin-top: 30px;
}
.form-group {
    display: block;
    margin: 10px 0 20px 0;
    border: 0;
    border-bottom: 1px solid var(--font-color-lite);
}
.form-group input {
    width: 100%;
    min-height: 35px;
    box-sizing: content-box;
    border: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
    font-size: 18px;
    padding: 3px 5px;
}
.form-group label {
    transform: translateY(-50%);
    font-size: 18px;
    line-height: 18px;
}
.delivery-info h4 {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 24px;
}
.delivery-address {
    display: flex;
    flex-direction: column;
}
.delivery-address button {
    border: 1px solid var(--main-color);
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 300;
    color: var(--main-color);
    background-color: #fff;
    width: 60%;
    margin: 30px 0;
}
.delivery-address span {
    font-size: 14px;
}
.delivery-address span i {
    font-size: 14px;
}
.delivery-time {
    margin-top: 30px;
}
.delivery-time h5 {
    letter-spacing: 0.5px;
    font-size: 15px;
    color: var(--font-color);
}
.delivery-time div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--font-color-lite);
    border-radius: 3px;
    height: 40px;
    padding: 0 10px;
}
.delivery-time div i {
    color: var(--main-color);
}
.payment-info {}
.payment-info h4 {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 24px;
}
.payment-options {
    list-style: none;
    margin-top: 25px;
}
.payment-options li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.payment-options li input {
    margin-right: 15px;
}
.payment-options li label {
    display: flex;
    align-items: center;
}
.payment-options li h5 {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 16px;
    margin-left: 5px;
}


/* order details */
.cart-body {
    padding: 15px;

    padding-top: 5px;

    padding: 20px 0 20px 0;
    min-height: 200px;

    display: flex;
    flex-direction: column;
}
.cart-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--font-color-lite);
}
.cart-header>div {
    display: flex;
}
.cart-header i {
    font-size: 30px;
}
.cart-header h3 {
    margin-left: 10px;
    font-size: 24px;
}
.cart-header .close {
    color: var(--main-color);
}
.cart-header .close i {
    font-size: 24px;
}
.cart-items {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--font-color-lite);
}
.cart-items .item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cart-items .item-info .item-name,
.cart-items .item-info .item-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.item-count-price {
    display: flex;
}
.item-count-price .btn-cart {
    padding-bottom: 6px;
    border-radius: 4px;
    vertical-align: middle;
    width: 38px;
    height: 37px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: 5px;
}
.item-count-price .btn-cart:nth-child(odd):hover {
    background-color: var(--font-color-lite);
}
.item-count-price .btn-cart:nth-child(odd) {
    background-color: var(--font-color-lite);
}
.cart-pricing {
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.cart-total {
    font-size: 18px;
    margin-top: 15px;
    border-top: 1px solid var(--font-color-lite);
}
.checkout-btn-wrapper {
    margin: 40px auto 20px auto;
    margin-top: 40px;
    width: 98%;
    text-align: center;
}
.checkout-btn-wrapper button {
    font: 400 20px/26px "Oswald",sans-serif;
    padding: 15px 10px;
    text-align: center;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    line-height: 22px;
}






/* footer */
.footer {
    padding: 0 20px;
    background-color: var(--font-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo {
    text-align: center;
    padding: 40px 0;
    font-size: 36px;
    letter-spacing: 1.5px;
}
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-links {
    display: flex;
    flex-direction: column;
}
.footer-links li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    line-height: 44px;
}
.social-links-wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
}
.social-links {
    display: flex;
    justify-content: center;
}
.social-links li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.social-links li i {
    font-size: 24px;
}

.sub-footer {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    width: 100%;
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-country-wrapper {
    border: 1px solid #444;
    padding: 7px 40px;
    border-radius: 5px;
}
.change-country-wrapper img {
    vertical-align: middle;
}
.change-country-btn {
    background-color: transparent;
    border: 0;
    color: #fff;
}
.country-flag {
    margin-right: 12px;
}
.change-country-btn i{
    margin-left: 20px;
}

.footer-app-downloads {
    margin-top: 20px;
}
.footer-app-downloads img {
    height: 36px;
}
.copyright {
    padding: 40px 0 50px 0;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}



/* Mobile Landscape or Tablet Screen Sizes */
@media only screen and (min-width: 480px)  {

    /* navbar */
    .navbar {
        /* background-color: yellow; */
    }

    /* header */
    
    
    /* main */

   
    /* footer */
}



/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

    /* navbar */
    .navbar {
        /* background-color: red; */
        height: 60px;
        padding: 0 100px;
    }
    .navbar-logo {
        font-size: 22px;
    }
    .nav-container {
        display: inline-block;
    }
    .navbar-items {
        font-size: 18px;
        color: #fff;
    }
    .navbar-items li {
        margin: 0 15px 0 15px;
    }
    .navbar-items li:hover {
        color: var(--font-color);
        cursor: pointer;
    }
    .navbar-items .country-flag {
        margin-right: 3px;
        vertical-align: middle;
    }
    .nav-language {}
    .nav-country i {
        font-size: 14px;
    }
    .nav-cart {
        position: relative;
    }
    .nav-cart em {
        position: absolute;
        top: -12px;
        right: -12px;
        height: 20px;
        width: 20px;
        font: 400 12px/22px "Oswald",sans-serif;
        background-color: #fff;
        color: var(--main-color);
        border-radius: 50%;
        text-align: center;
        vertical-align: middle ;
        box-sizing: content-box;
        border: 2px solid var(--main-color);
        padding: 2px;
        transform: scale(1);
        transform-origin: 50% 50%;
        text-transform: uppercase;
    }
    .nav-cart i {
        font-size: 22px;
    }
    .nav-cart img {
        vertical-align: middle;
    }
    .navbar-collapse {
        display: none;
    }

    /* header */
    .header-breadcrub-wrapper {
        padding-left: 100px;
        padding-top: 18px;
    }
    .restaurant-info-wrapper {
        padding: 30px 130px;
    }



    /* main */
    .main {
        padding: 0 5px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    

    /* footer */
    .footer {
        padding: 0 100px;
    }
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .footer-links {
        flex-direction: row;
    }
    .footer-links li {
        margin: 0 30px;
    }
    .social-links-wrapper {
        margin-top: 10px;
    }
    .sub-footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-app-downloads {
        margin-top: 0;
    }
}

/* checkpoint #1 */

