/* Mobile-first*/
.header {
  background: url(img/photo-1540265556701-ae209ac395cd.jpg);
  background-size: cover;
  background-position: center center;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.restaurant-info {
  color: #fff;
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 15rem; }
  .restaurant-info__name {
    line-height: 3.6rem;
    font-size: 2.8rem;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: .15rem; }
  .restaurant-info__heading {
    font-size: 1.8rem;
    line-height: 1.5; }

.main {
  width: 100%; }

.checkout {
  display: flex;
  flex-direction: column; }
  .checkout-info-box {
    padding: 3rem 4rem;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #e8e8e8;
    border-radius: .5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1); }

/* user info */
.user-info {
  background-color: #fff;
  border-top: 0.7rem solid #009a9a; }
  .user-info__heading-primary {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 2.4rem; }
  .user-info__heading-secondary {
    line-height: 2.2rem;
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight: 300; }
  .user-info__form {
    margin-top: 3rem; }

.form-group {
  display: block;
  margin: 1rem 0 2rem 0;
  border: 0;
  border-bottom: 1px solid #e8e8e8; }
  .form-group__label {
    transform: translateY(-50%);
    font-size: 1.8rem;
    line-height: 1.8rem; }
  .form-group__input {
    width: 100%;
    min-height: 3.5rem;
    box-sizing: content-box;
    border: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
    font-size: 1.8rem;
    padding: .3rem .5rem; }

/* delivery info */
.delivery-info__heading {
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  font-size: 2.4rem; }

.delivery-info__address {
  display: flex;
  flex-direction: column; }

.delivery-info__add {
  border: 1px solid #009a9a;
  padding: .8rem 2rem;
  border-radius: .4rem;
  font-weight: 300;
  color: #009a9a;
  background-color: #fff;
  width: 60%;
  margin: 3rem 0;
  font-size: 1.5rem; }

.delivery-info__locate {
  font-size: 1.4rem; }

.delivery-info__locate-icon {
  font-size: 1.4rem; }

.delivery-info__time {
  margin-top: 3rem; }

.delivery-info__time-heading {
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  color: #323232; }

.delivery-info .expected-delivery-time {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: .3rem;
  height: 4rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  transition: all .2s; }
  .delivery-info .expected-delivery-time__icon {
    color: #009a9a; }

/* payment info */
.payment-info__heading {
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  font-size: 2.4rem; }

.payment-info__options {
  list-style: none;
  margin-top: 2.5rem; }

.payment-info__option {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem; }
  .payment-info__option-input {
    margin-right: 1.5rem; }
  .payment-info__option-label {
    display: flex;
    align-items: center; }
  .payment-info__option-name {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 1.6rem;
    margin-left: .5rem; }

/* order info */
.order-info {
  padding: 3rem 4rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column; }
  .order-info__header {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e8e8e8; }
  .order-info__header-icon {
    font-size: 3rem; }
  .order-info__header-title {
    margin-left: 1rem;
    font-size: 2.4rem; }
  .order-info__items {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e8e8e8; }
  .order-info__item {
    margin-bottom: 1.5rem; }
  .order-info__item-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem; }
  .order-info__item-name, .order-info__item-price {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem; }

.cart-controls {
  display: flex; }
  .cart-controls__btn {
    padding-bottom: .6rem;
    border-radius: .4rem;
    vertical-align: middle;
    width: 3.8rem;
    height: 3.7rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: .5rem;
    background-color: #e8e8e8; }
  .cart-controls__count {
    padding-bottom: .6rem;
    border-radius: .4rem;
    vertical-align: middle;
    width: 3.8rem;
    height: 3.7rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: .5rem; }

.cart-pricing {
  font-size: 1.6rem;
  font-weight: 300;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between; }
  .cart-pricing--total {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    border-top: 1px solid #e8e8e8; }

.checkout__make-order {
  margin: 4rem auto 2rem auto;
  margin-top: 4rem;
  width: 98%;
  text-align: center; }
  .checkout__make-order-btn {
    font: 400 20px/26px "Oswald",sans-serif;
    padding: 1.5rem 1rem;
    text-align: center;
    letter-spacing: 0.5px;
    border: none;
    border-radius: .4rem;
    width: 100%;
    background-color: #009a9a;
    color: #fff;
    line-height: 2.2rem;
    transition: all 0.3s; }

/*----------------------------------------------------------------------------------------*/
/* Mobile Landscape */
@media only screen and (min-width: 480px) {
  .header-breadcrumb-wrapper {
    padding-left: 4rem; }
  .restaurant-info {
    padding-left: 4rem; }
  .expected-delivery-time {
    width: 50%; } }

/*----------------------------------------------------------------------------------------*/
/* Tablet Screen Sizes */
/*----------------------------------------------------------------------------------------*/
/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {
  .restaurant-info {
    padding-left: 17rem; }
  /* main */
  .main {
    width: 98%;
    padding: 0 .5rem; }
  .checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 13rem; }
  .customer-info {
    width: 70%; }
  /* delivery info */
  .delivery-info__add:hover {
    background-color: #009a9a;
    color: #fff;
    cursor: pointer;
    transition: 0.3s; }
  .delivery-info .delivery-info__time {
    width: 100%; }
  .delivery-info .expected-delivery-time {
    width: 50%; }
    .delivery-info .expected-delivery-time:hover {
      cursor: pointer;
      border-color: #009a9a; }
  /* order info */
  .order-info {
    width: 50%;
    height: 50rem;
    transform: translateY(-11.5rem);
    background-color: #fff; }
  .cart-controls__btn:hover {
    cursor: pointer;
    background-color: #323232;
    color: #e8e8e8;
    transition: 0.2s; }
  .checkout__make-order-btn:hover {
    background-color: #323232;
    cursor: pointer;
    transform: scale(1.05); } }
