/* Mobile-first*/

.container {}

/*navbar */

/* header */
.header {
    background: url(img/photo-1540265556701-ae209ac395cd.jpg);
    background-size: cover;
    background-position: center center;
    height: 25rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

/* breadcrumb */

.restaurant-info-wrapper {
    color: #fff;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
}
.restaurant-info {}
.restaurant-info h2 {
    line-height: 3.6rem;
    font-size: 2.8rem;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.restaurant-info p {
    font-size: 1.8rem;
    line-height: 1.5;
}
.restaurant-info p span {
    float: right;
}


/* main */
.main {
    width: 100%;
}

.checkout-wrapper {
    display: flex;
    flex-direction: column;
}
.checkout-info-box {
    padding: 3rem 4rem;
    width: 90%;
    margin: 20px auto;
    border: 1px solid var(--font-color-lite);
    border-radius: .5rem;
}
.checkout-info-wrapper {
}
.customer-info {
    background-color: #fff;
    border-top: .7rem solid var(--main-color);
}
.customer-info h3 {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 2.4rem;
}
.customer-info p {
    line-height: 2.2rem;
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight: 300;
}
.customer-form {
    margin-top: 3rem;
}
.form-group {
    display: block;
    margin: 1rem 0 2rem 0;
    border: 0;
    border-bottom: 1px solid var(--font-color-lite);
}
.form-group input {
    width: 100%;
    min-height: 3.5rem;
    box-sizing: content-box;
    border: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
    font-size: 1.8rem;
    padding: .3rem .5rem;
}
.form-group label {
    transform: translateY(-50%);
    font-size: 1.8rem;
    line-height: 1.8rem;
}
.delivery-info h4 {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 2.4rem;
}
.delivery-address {
    display: flex;
    flex-direction: column;
}
.delivery-address button {
    border: 1px solid var(--main-color);
    padding: .8rem 2rem;
    border-radius: .4rem;
    font-weight: 300;
    color: var(--main-color);
    background-color: #fff;
    width: 60%;
    margin: 3rem 0;
    font-size: 1.5rem;
}
.delivery-address span {
    font-size: 1.4rem;
}
.delivery-address span i {
    font-size: 1.4rem;
}
.delivery-time {
    margin-top: 3rem;
}
.delivery-time h5 {
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    color: var(--font-color);
}
.delivery-time div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--font-color-lite);
    border-radius: .3rem;
    height: 4rem;
    padding: 0 1rem;
    font-size: 1.5rem;
}
.delivery-time div i {
    color: var(--main-color);
}
.payment-info {}
.payment-info h4 {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 2.4rem;
}
.payment-options {
    list-style: none;
    margin-top: 2.5rem;
}
.payment-options li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.payment-options li input {
    margin-right: 1.5rem;
}
.payment-options li label {
    display: flex;
    align-items: center;
}
.payment-options li h5 {
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 1.6rem;
    margin-left: .5rem;
}


/* order details */
.cart-body {
    padding: 1.5rem;

    padding-top: .5rem;

    padding: 2rem 0 2rem 0;
    min-height: 20rem;

    display: flex;
    flex-direction: column;
}
.cart-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--font-color-lite);
}
.cart-header>div {
    display: flex;
}
.cart-header i {
    font-size: 3rem;
}
.cart-header h3 {
    margin-left: 1rem;
    font-size: 2.4rem;
}
.cart-header .close {
    color: var(--main-color);
}
.cart-header .close i {
    font-size: 2.4rem;
}
.cart-items {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--font-color-lite);
}
.cart-items .item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.cart-items .item-info .item-name,
.cart-items .item-info .item-price {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
}
.item-count-price {
    display: flex;
}
.item-count-price .btn-cart {
    padding-bottom: .6rem;
    border-radius: .4rem;
    vertical-align: middle;
    width: 3.8rem;
    height: 3.7rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: .5rem;
}
.item-count-price .btn-cart:nth-child(odd):hover {
    background-color: var(--font-color-lite);
}
.item-count-price .btn-cart:nth-child(odd) {
    background-color: var(--font-color-lite);
}
.cart-pricing {
    font-size: 1.6rem;
    font-weight: 300;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.cart-total {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    border-top: 1px solid var(--font-color-lite);
}
.checkout-btn-wrapper {
    margin: 4rem auto 2rem auto;
    margin-top: 4rem;
    width: 98%;
    text-align: center;
}
.checkout-btn-wrapper button {
    font: 400 20px/26px "Oswald",sans-serif;
    padding: 1.5rem 1rem;
    text-align: center;
    letter-spacing: 0.5px;
    border: none;
    border-radius: .4rem;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    line-height: 2.2rem;
}


/* footer */

/*----------------------------------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {

    /* navbar */

    /* header */ 
    
    .header-breadcrumb-wrapper {
        padding-left: 4rem;
    }
    .restaurant-info-wrapper {
        padding-left: 4rem;
    }

    .delivery-time div {
        width: 50%;
    }
    
    /* main */

    /* footer */
}

/*----------------------------------------------------------------------------------------*/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) {}

/*----------------------------------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {

    /* navbar */

    /* header */
    
    /* breadcrumb */
    .header-breadcrumb-wrapper {
        padding-left: 17rem;
        padding-top: -1px;
    }
    .restaurant-info-wrapper {
        padding-left: 17rem;
    }
    
    /* main */
    .main {
        width: 98%;
        padding: 0 .5rem;
    }

   
    .checkout-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 13rem;
    }
    .checkout-info-wrapper {
        width: 60%;
    }
    .order-info-wrapper {
        width: 40%;
        height: 43rem;
        transform: translateY(-11.5rem);
        background-color: #fff;
    }
    .delivery-address button:hover {
        background-color: var(--main-color);
        color: var(--font-color-lite);
        cursor: pointer;
        transition: 0.3s;
    }
    .delivery-time {
        width: 100%;
    }
    .delivery-time div {
        cursor: pointer;
    }

    .item-count-price .btn-cart:nth-child(odd):hover {
        cursor: pointer;
        background-color: var(--font-color);
        color: var(--font-color-lite);
        transition: 0.2s;
    }

    .checkout-btn-wrapper button:hover {
        background-color: var(--font-color);
        cursor: pointer;
        transition: 0.3s;
    }

    /* footer */
   
}


