/* Sign Up */

@import "../abstracts/variables";
@import "../abstracts/mixins";

/* Mobile-first*/

.main {
    width: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in,
.sign-up {
    @include box;
}

.sign-in__heading,
.sign-up__heading {
    @include heading;
}

.sign-in__btn,
.sign-up__btn {
    @include btn;
}

.sign-in {
    height: 20rem;
    background: url(./img/photo-1484659619207-9165d119dafe.jpg) no-repeat center center transparent;
    justify-content: space-between;
    border-radius: .5rem .5rem 0 0;

    &__btn {
        background-color: $color-main;
        color: $color-white;
    }
}

.sign-up {
    height: 70rem;
    background-color: $color-font-dark;
    margin-bottom: 3rem;
    border-radius: 0 0 .5rem .5rem;

    &__heading {
        margin-bottom: 3rem;
    }
}

.form-group {
    margin-bottom: 3rem;
    min-height: 1px;

    &__input-text {
        background: none;
        color: $color-white;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        font-size: 1.8rem;
        font-weight: 300;
        padding: .75em;
        border: 0;
        border-bottom: 0.5px solid rgba($color-white, .2);
        letter-spacing: 0.75px;
    }
}

/*--- animation ---*/
.sign-up {
    &__heading,
    &__form {
        animation: moveInDown-short .65s ease-out .2s;
        animation-fill-mode: backwards;
    }
    &__btn {
        animation: moveInUp-short .65s ease-out .2s;
        animation-fill-mode: backwards;
    }
}

/*-----------------------------------------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {}

/*-----------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {}

/*-----------------------------------------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {

    .main {
        padding: 0 .5rem;
    }

    .wrapper {
        width: 70%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sign-in,
    .sign-up {
        height: 50rem;
    }

    .sign-in {
        margin-top: -3rem;
        width: 30%;
        justify-content: center;
        border-radius: .5rem 0 0 .5rem;

        &__btn:hover {
            background-color: $color-font-dark;
            cursor: pointer;
            transition: 0.3s;
            border: 1px solid $color-font-light;
        }
    }

    .sign-up {
        width: 70%;
        border-radius: 0 .5rem .5rem 0;

        &__form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__btn:hover {
            background-color: $color-font-dark;
            color: $color-font-light;
            border: 1px solid $color-font-light;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    .form-group {
        min-width: 48%;
    }
}