<section class="breadcrumb">
    <ul class="breadcrumb__list">
        <li class="breadcrumb__item breadcrumb__item--home">
            <a class="breadcrumb__link" href="#">Home</a>
        </li>
        <li class="breadcrumb__item">
            <span class="breadcrumb__separator">/</span>
        </li>
        <li class="breadcrumb__item breadcrumb__item">
            <a class="breadcrumb__link" href="#">Restaurants</a>
        </li>
        <li class="breadcrumb__item">
            <span class="breadcrumb__separator">/</span>
        </li>
        <li class="breadcrumb__item breadcrumb__item--current">
            <a class="breadcrumb__link" href="#">Burger Shop</a>
        </li>
    </ul>
</section>