<!-- cart view modal -->
<div class="cart-view-modal modal-close">
    <div class="vertical-alignment-helper">
        <div class="modal-dailog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="cart-header">
                        <div>
                            <i class="material-icons">shopping_cart</i>
                            <h3>Your Oredr</h3>
                        </div>
                        <p class="close"><i class="fa fa-times"></i></p>
                    </div>
                    <div class="cart-items">
                        <div class="item-info">
                            <p class="item-name">Double Cheese Burger</p>
                            <p class="item-price">75.00 EGP</p>
                        </div>
                        <div class="item-count-price">
                            <div class="btn-cart">-</div>
                            <p class="btn-cart">1</p>
                            <div class="btn-cart">+</div>
                        </div>
                    </div>
                    <div class="cart-pricing">
                        <p>subtotal</p>
                        <p>75.00 EGP</p>
                    </div>
                    <div class="cart-pricing">
                        <p>delivery fee</p>
                        <p>5.00 EGP</p>
                    </div>
                    <div class="cart-pricing cart-total">
                        <p>Total</p>
                        <p>80.00 EGP</p>
                    </div>
                    <div class="checkout-btn-wrapper">
                        <button>Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>