<ul class="country-dropdown">
    <li class="country-dropdown__item">
        <a class="country-dropdown__link" href="#">
            <img class="country-dropdown__img" src="./assets/img/flags/ae.svg" alt="UAE">
            UAE
        </a>
    </li>
    <li class="country-dropdown__item">
        <a class="country-dropdown__link" href="#">
            <img class="country-dropdown__img" src="./assets/img/flags/sa.svg" alt="Saudi Arabia">
            Saudi Arabia
        </a>
    </li>
    <li class="country-dropdown__item">
        <a class="country-dropdown__link" href="#">
            <img class="country-dropdown__img" src="./assets/img/flags/kw.svg" alt="Kuwait">
            Kuwait
        </a>
    </li>
    <li class="country-dropdown__item">
        <a class="country-dropdown__link" href="#">
            <img class="country-dropdown__img" src="./assets/img/flags/qa.svg" alt="Qatar">
            Qatar
        </a>
    </li>
    <li class="country-dropdown__item">
        <a class="country-dropdown__link" href="#">
            <img class="country-dropdown__img" src="./assets/img/flags/bh.svg" alt="Bahrain">
            Bahrain
        </a>
    </li>
</ul>