<!-- <footer class="footer"> -->
    
        <h2 class="footer-logo">Expresso</h2>
        <section class="footer-container">
            <div class="footer-links-warpper">
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="/restaurant-list/index.html">Restaurants</a></li>
                    <li><a href="/contact-us/index.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="social-links-wrapper">
                <ul class="social-links">
                    <li><i class="fa fa-facebook-square"></i></li>
                    <li><i class="fa fa-twitter"></i></li>
                    <li><i class="fa fa-instagram"></i></li>
                </ul>
            </div>
        </section>
        <section class="sub-footer">
            <div class="change-country-wrapper">
                <button class="change-country-btn">
                    <img class="country-flag" src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/eg.svg" alt="egypt" height="20"
                        width="30">
                    Egypt
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
            <div class="footer-app-downloads">
                <img alt="Download App from Google Playstore"
                    src="https://trycarriage.global.ssl.fastly.net/assets/v2/playstore_icon-b9ca6f7b9f6d29531733dab0586cd3ab.svg">
                <img alt="Download App from Apple App Store"
                    src="https://trycarriage.global.ssl.fastly.net/assets/v2/appstore_icon-71d0475940474ee2ba3be457483be01b.svg">
            </div>
        </section>
        <section class="copyright">© 2019 Expresso App. All rights reserved.</section>

    <!-- </footer> -->