<div class="location-selection">
    <button class="location-selection__btn">
        <i class="location-selection__icon-location material-icons-outlined">location_on</i>
        <p class="location-selection__value">Type a delivery location</p>
        <i class="location-selection__icon-caret location-selection__icon-caret--down material-icons">keyboard_arrow_down</i>
        <i class="location-selection__icon-caret location-selection__icon-caret--up material-icons">keyboard_arrow_up</i>
    </button>

    <div class="location-selection__box">
        <input type="text" class="location-selection__input">

        <ul class="location-selection__city-list">
            <li class="location-selection__city">
                <div class="location-selection__city-name">Cairo</div>
                <ul class="location-selection__area-list">
                    <li class="location-selection__area">Heliopolis</li>
                    <li class="location-selection__area">Zamalek</li>
                    <li class="location-selection__area">DownTown</li>
                    <li class="location-selection__area">Nasr City</li>
                    <li class="location-selection__area">Maadi</li>
                    <li class="location-selection__area">Shoubra</li>
                </ul>
            </li>

            <li class="location-selection__city">
                <div class="location-selection__city-name">Giza</div>
                <ul class="location-selection__area-list">
                    <li class="location-selection__area">Mohandessien</li>
                    <li class="location-selection__area">Dokki</li>
                    <li class="location-selection__area">Giza Square</li>
                    <li class="location-selection__area">Haram</li>
                    <li class="location-selection__area">6th October</li>
                </ul>
            </li>

            <li class="location-selection__city">
                <div class="location-selection__city-name">Alexandrai</div>
                <ul class="location-selection__area-list">
                    <li class="location-selection__area">San Stephano</li>
                    <li class="location-selection__area">DownTown</li>
                    <li class="location-selection__area">Sidi Beshr</li>
                    <li class="location-selection__area">El Raml</li>
                </ul>
            </li>
        </ul>
    </div>

</div>