<!-- menu item modal -->
<section class="menu-item-modal menu-item-modal--close">
    <div class="menu-item-modal__content menu-item-modal__content--animated">
        <div class="menu-item-modal__container">
            <div class="menu-item-modal__head">
                <p class="menu-item-modal__close"><i class="fa fa-times"></i></p>
                <img class="menu-item-modal__item-img" src="./img/photo-1549611016-3a70d82b5040.jpg" alt="burger">
            </div>
            <div class="menu-item-modal__body">
                <section class="dish-info">
                    <div class="dish-info__row">
                        <h3 class="dish-info__name">Big Tasty Burger</h3>
                        <p class="dish-info__price">70 EGP</p>
                    </div>
                    <p class="dish-info__desc">2 organic beef patties, 2 slices of real cheddar cheese.</p>
                </section>

                <article class="dish-options" >
                    <div class="dish-options__head">
                        <h4 class="dish-options__title">Choice of bun or lettuce wrap</h4>
                        <span class="dish-options__icon--arrow-down"><i class="fa fa-chevron-up"></i></span>
                    </div>
                    <p class="validation-info validation-info--required">Required, choose at least one.</p>
                    <ul class="dish-options__sigle-selection">
                        <li class="dish-option">
                            <div class="dish-option__detail">
                                <input class="dish-option__checkbox" type="radio" checked name="option-1" id="option-1">
                                <label class="dish-option__name" for="option-1">Potato Bun</label>
                            </div>
                            <p class="dish-option__price">0.75 EGP</p>
                        </li>
                        <li class="dish-option">
                            <div class="dish-option__detail">
                                <input class="dish-option__input-radio" type="radio" name="option-1" id="option-1">
                                <label class="dish-option__name" for="option-1">Lettuce Wrap</label>
                            </div>
                            <p class="dish-option__price">0.50 EGP</p>
                        </li>
                    </ul>
                </article>
                <article class="dish-options">
                    <div class="dish-options__head">
                        <h4 class="dish-options__title">Choice of cheese</h4>
                        <span class="dish-options__icon--arrow-up"><i class="fa fa-chevron-up"></i></span>
                    </div>
                    <p class="validation-info validation-info--optional">Optional, choose multiple.</p>
                    <ul class="dish-options__multiple-selection">
                        <li class="dish-option">
                            <div class="dish-option__detail">
                                <input class="dish-option__input-checkbox" type="checkbox" checked name="option-1" id="option-1">
                                <label class="dish-option__name" for="option-1">No Cheese</label>
                            </div>
                            <p class="dish-option__price">0.00 EGP</p>
                        </li>
                        <li class="dish-option">
                            <div class="dish-option__detail">
                                <input class="dish-option__input-checkbox" type="checkbox" name="option-1" id="option-1">
                                <label class="dish-option__name" for="option-1">Regular</label>
                            </div>
                            <p class="dish-option__price">0.50 EGP</p>
                        </li>
                        <li class="dish-option">
                            <div class="dish-option__detail">
                                <input class="dish-option__input-checkbox" type="checkbox" name="option-1" id="option-1">
                                <label class="dish-option__name" for="option-1">Cheddar</label>
                            </div>
                            <p class="dish-option__price">0.75 EGP</p>
                        </li>
                        <li class="dish-option">
                            <div class="dish-option__detail">
                                <input class="dish-option__input-checkbox" type="checkbox" name="option-1" id="option-1">
                                <label class="dish-option__name" for="option-1">Spicy</label>
                            </div>
                            <p class="dish-option__price">0.50 EGP</p>
                        </li>
                    </ul>
                </article>
                <article class="dish-options">
                    <div class="dish-options__head">
                        <h4 class="dish-options__title">Add Special Instructions</h4>
                        <span class="dish-options__icon--arrow-up"><i class="fa fa-chevron-up"></i></span>
                    </div>
                    <p class="validation-info validation-info--optional"></p>
                    <textarea class="dish-option__input-textarea" name="notes" id="notes" cols="40" rows="6"
                        placeholder="Add a note (food allergies, extra sauce, no onions, etc.). Please be clear and concise so we can get your order perfect."></textarea>
                </article>
            </div>
            <div class="menu-item-modal__footer">
                <div class="cart-controls">
                    <span class="cart-controls__btn cart-controls__btn-remove">-</span>
                    <p class="cart-controls__count">1</p>
                    <span class="cart-controls__btn cart-controls__btn-add">+</span>
                </div>
                <button class="add-order-btn">Add to order</button>
            </div>
        </div>
    </div>
</section>