<nav class="navbar">
    <div class="navbar-logo">
        <h2>Expresso</h2>
    </div>
    <div class="nav-container">
        <ul class="navbar-items">
            <li>Login</li>
            <li>Sign Up</li>
            <li>Contact Us</li>
            <li class="nav-language">العربية</li>
            <li class="nav-country">
                <img class="country-flag" src="./home/img/egypt-flag-icon-32.png" alt="egypt" height="20" width="30">
                <i class="fa fa-caret-down"></i>
            </li>
            <li class="nav-cart">
                <img alt="Cart" height="27"
                    src="./home/img/shopping_cart_icon_white-9c4c2230af01610868ccb639a00b01bb.svg" title="Cart"
                    width="30">
                <em>1</em>
                </i></li>
        </ul>
    </div>
    <div class="navbar-collapse">
        <a>
            <span class="fa fa-align-justify"></span>
        </a>
    </div>
</nav>