<div class="restaurant-selection">
    <button class="restaurant-selection__btn">
        <i class="restaurant-selection__icon-location material-icons-outlined">location_on</i>
        <p class="restaurant-selection__value">Find a restaurant</p>
        <i class="restaurant-selection__icon-caret restaurant-selection__icon-caret--down material-icons">keyboard_arrow_down</i>
        <i class="restaurant-selection__icon-caret location-selection__icon-caret--up material-icons">keyboard_arrow_up</i>
    </button>

    <div class="restaurant-selection__box">
        <input type="text" class="restaurant-selection__input">
        <ul class="restaurant-selection__restaurant-list">
            <li class="restaurant-selection__restaurant">Heliopolis</li>
            <li class="restaurant-selection__restaurant">Zamalek</li>
            <li class="restaurant-selection__restaurant">DownTown</li>
            <li class="restaurant-selection__restaurant">Nasr City</li>
            <li class="restaurant-selection__restaurant">Maadi</li>
            <li class="restaurant-selection__restaurant">Shoubra</li>
        </ul>
    </div>
</div>