/* cart */

.cart {
    position: relative;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    color: $color-font-dark;

    &__header {
        @include items-row;

        padding-bottom: 1.5rem;
        border-bottom: 1px solid $color-gray-light;
        color: inherit;

        &-main {
            @include items-row;

            &-icon {
                font-size: 3rem;
            }
            &-title {
                margin-left: 1rem;
                font-size: 2.4rem;
                font-weight: 400;
            }
        }
        &-close {
            color: $color-main;
            transition: all .2s;

            &:hover {
                cursor: pointer;
                color: $color-font-dark;
                box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
            }

            &--visible {
                display: inline-block;
            }
            &--hidden {
                display: none;
            }
            &-icon {
                font-size: 2.4rem;
            }
        }
    }
    
    &__items {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $color-gray-light;

        .cart__item {
            margin-bottom: 1.5rem;
    
            &-detail {
                display: flex;
                justify-content: space-between;
                margin-bottom: .5rem;
            }
            &-name,
            &-price {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 2.2rem;
                letter-spacing: .25px;
            }

            &-options {
                list-style: none;
                margin: .5rem;
                margin-bottom: 1rem;
            }
            &-option {
                font-size: 1.5rem;
                margin-bottom: .5rem;

                p { 
                    font-size: inherit;
                    font-weight: 400;
                 }

                 span {
                     display: block;

                     &::before {
                         content: "\0000a0";
                     } 
                 }
            }

            &-notes {
                font-size: 1.8rem;
                display: flex;
                margin-bottom: 1rem;

                p { 
                    font-weight: 400;

                    &::after {
                        content: "\0000a0";
                    }
                 }
            }

            &-controls {
                position: relative;
                display: flex;
            
                &-btn {
                    padding: 1.25rem;
                    border-radius: .4rem;
                    vertical-align: middle;
                    width: 3.8rem;
                    height: 3.7rem;
                    font-size: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-white;
                    margin-right: .5rem;
                    background-color: $color-font-light;
                    transition: 0.2s;

                    &:hover {
                        cursor: pointer;
                        background-color: $color-font-dark;
                        color: $color-font-light;
                    }
            
                    &-remove {
                        padding: 1.5rem;
                    }
                }
                &-count {
                    padding-bottom: .6rem;
                    border-radius: .4rem;
                    vertical-align: middle;
                    width: 3.8rem;
                    height: 3.7rem;
                    font-size: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-white;
                    margin-right: .5rem;
                }

                &-remove {
                    position: absolute;
                    top: .25rem;
                    right: 1rem;
                    text-decoration: none;
                    cursor: pointer;

                    @include flex-center;

                    &--hidden { display: none; }

                    span {
                        display: flex;
                        @include flex-center;

                        background: $color-font-light;
                        color: $color-gray-light;
                        font-weight: 300;
                        font-size: 2rem;
                        font-family: "Source Sans Pro",sans-serif;
                        width: 2rem;
                        height: 2rem;
                        padding: 1.4rem;
                        text-align: center;
                        border-radius: 25px;
                        transition: all .2s ease-in-out;

                        &:hover {
                            background-color: $color-main;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }

    &__pricing {
        margin-top: .5rem;

        &-box {
            font-size: 1.6rem;
            font-weight: 300;
            padding-top: 1rem;
            display: flex;
            justify-content: space-between;
        
            &__title,
            &__value {
                font-size: 1.8rem;
                letter-spacing: .25px;
            }

            &-total {
                font-size: 2rem;
                font-weight: 400;
                margin-top: 1.5rem;
                border-top: 1px solid $color-gray-light;
            }
        }
    }

    &__submit {
        margin: 4rem auto 2rem auto;
        margin-top: 4rem;
        width: 98%;
        text-align: center;
    
        &-btn {
            font: 400 20px/26px "Oswald",sans-serif;
            padding: 1.5rem 1rem;
            text-align: center;
            letter-spacing: 0.5px;
            border: none;
            border-radius: .4rem;
            width: 100%;
            background-color: $color-main;
            color: #fff;
            line-height: 2.2rem;
            transition: all 0.3s;

            &:hover {
                background-color: $color-font-dark;
                cursor: pointer;
                transform: scale(1.05) ;
            }
        }
    }

    &__empty-template {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            width: 30rem;
            font-size: 2.3rem;
            text-align: center;
        }
    }
}