/* Cart Modal */ 

.cart-modal {
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    opacity: 1;
    background-color: rgba($color-black, .5);

    overflow-x: hidden;
    overflow-y: auto;

    @supports (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px)
    }

    &--open {
        display: block;
    }
    &--close {
        display: none;
    }
    &__content {
        position: relative;
        background-color: $color-white;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba($color-black, .2);
        border-radius: .6rem;
        outline: 0;
        -webkit-box-shadow: 0 .3rem .9rem rgba($color-black, .5);
        box-shadow: 0 .3rem .9rem rgba($color-black, .5);
    
        padding: 1rem 2rem 2rem;
        border-radius: .4rem;
        width: inherit;
        height: inherit;
        min-height: 40rem;
        margin: 0 auto;

        pointer-events: all;
        border: 0;
        -webkit-box-shadow: 0px .2rem 2.9rem .7rem rgba($color-black, .2);
        -moz-box-shadow: 0px .2rem 2.9rem .7rem rgba($color-black, .2);
        box-shadow: 0px .2rem 2.9rem .7rem rgba($color-black, .2);
    
        margin-top: 15rem;
        margin-bottom: 5rem;
        padding-bottom: 0;

        @include respond(phone-land) {
            margin-top: 10rem;
        }

        @include respond(tab) {
            width: 80%;
            margin-top: 20rem;
        }

        @include respond(desktop) {
            width: 45%;
            margin-top: 10rem;
        }
    }
    &__content--animated {
        animation: moveInDown .65s ease-out;
    }
}

 .vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 96%;
    pointer-events: none;
    margin: 0 auto;
 }
 .modal-dialog {
    position: relative;
    width: auto;
    margin: 1rem;

    display: table-cell;
    vertical-align: middle;
    pointer-events: none;

    transition: transform .3s ease-out;

    transform: translate(0,0);
}