/* Menu Item Modal */

.menu-item-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 2;
    background-color: rgba($color-black, .5);
    margin-bottom: .5rem;

    @supports (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px)
    }

    &--open {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }
    &--close {
        display: none;
        overflow-y: auto;
    }
    &__content {
        background-color: $color-white;
        margin: 0 1rem;
        margin-top: 14rem;
        position: relative;
        padding: 1rem 2rem 2rem;
        border-radius: .4rem;
        padding: 1rem 2rem 2rem;
        border-radius: .4rem;
        border: 1px solid $color-font-light;
        z-index: 3;

        @include respond(tab) {
            width: 76%;
            margin: 20% auto;
        }

        @include respond(desktop) {
            width: 40%;
            margin: 2rem auto;
            top: 10rem;
        }
    }
    &__content--animated {
        animation: moveInDown .65s ease-out;
    }
    &__container {
        position: relative;
        left: 0;
    }
    &__head{
        width: 100%;
        max-height: 22rem;
        position: absolute;
        top: -10rem;
    }
    &__close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        width: 2.7rem;
        height: 2.7rem;
        border: 1px solid $color-black;
        text-align: center;
        border-radius: 50%;
        border: 1px solid $color-font-light;
        background-color: $color-main;
        color: $color-white;
        padding-top: .5rem;
        transition: all .2s;

        &:hover {
            cursor: pointer;
            box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
            background-color: $color-font-dark;
        }
    }
    &__item-img {
        background-color: $color-white;
        width: 100%;
        max-height: 22rem;
        max-width: 100%;
        border-radius: .8rem;
        box-shadow: 0px .4rem 1.2rem -1px rgba($color-black, .4);

        @include respond(tab) {
            max-height: 35rem;
        }
    }
    &__body {
        padding-top: 15rem;
        color: $color-font-dark;

        @include respond(tab) {
            padding-top: 28rem;   
        }
    }
    &__footer {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }
}

.dish-info {
    padding-bottom: 3rem;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__name {
        width: 60%;
        display: inline-block;
        padding-bottom: .8rem;
        font-size: 2.4rem;
        font-weight: 400;
    }
    &__price {
        font-size: 2rem;
    }
    &__desc {
        font-size: 1.75rem;
        letter-spacing: .25px;
    }  
}

/* dish options */
.dish-options {
    position: relative;
    padding-bottom: 2rem;

    &--closed {
        .dish-options__icon--arrow-up { display: none; }
        .dish-options__icon--arrow-down { display: block; }

        .dish-options__body {
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__title {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.8rem;
        margin-right: auto;
    }

    &__icon {
        
        i {
            font-size: 1.75rem;
            font-weight: 100;
            color: $color-main;
        }

        &--arrow-up { display: block; }
        &--arrow-down { display: none; }
    }

    &__body {
        opacity: 1;
        visibility: visible;
        transition: all .2s;
    }

    &__sigle-selection {
        list-style: none;
    }
}

.validation-info {
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid $color-font-light;
    letter-spacing: .5px;

    &--required {
        color: $color-red;
    }
    &--optional {
        color: $color-main;
    }
}

.dish-option {
    font: 300 17px/38px "Source Sans Pro",sans-serif;
    display: flex;
    justify-content: space-between;

    &__detail {
        position: relative;
    }

    &__input-radio,
    &__input-checkbox {
        position: absolute;
        opacity: 0;
        margin-left: -2rem;
    }

    &__name {
        padding-left: .3rem;

        position: relative;

        &::before {
            content: "";
            background-color: $color-white;
            display: inline-block;
            vertical-align: middle;
            width: 2rem;
            height: 2rem;
            padding: .6rem;
            margin-right: 1rem;
            text-align: center;
            position: relative;
            bottom: 2px;
            position: relative;
            border: 1px solid $color-main;
        }
    }

    input[type=radio] + label::before {
        border-radius: 50%;
    }

    input[type=checkbox] + label::before {
        border-radius: $border-radius-small;
    }

    input[type=radio]:checked + label::before,
    input[type=checkbox]:checked + label::before {
        position: relative;
        content: "";
        background: url(../img/radio-button-selected.svg) no-repeat center center $color-main;
    }

    &__price {
        font-size: 1.4rem;
    }
    
    &__input-textarea {
        width: 100%;
        border-radius: .3rem;
        padding: .5rem;
        font-size: 1.5rem;
    }
}

.cart-controls {
    display: flex;
    justify-content: space-evenly;
    font-size: 3.5rem;

    &__btn {
        width: 5.2rem;
        height: 5.2rem;
        font-size: inherit;
        border: 1px solid $color-font-light;
        text-align: center;
        vertical-align: middle;
        padding-top: .5rem;
        transition: all .2s;

        &:hover {
            cursor: pointer;
            box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
        }
    }
    &__count {
        min-width: 5rem;
        min-height: 5.2rem;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.add-order-btn {
    background-color: $color-main;
    font: 400 16px/22px "Oswald",sans-serif;
    text-transform: uppercase;
    padding: 1rem 1rem;
    text-align: center;
    letter-spacing: 0.5px;
    border: none;
    border-radius: .4rem;
    color: $color-white;
    transition: all .2s;

    &:hover {
        background-color: $color-font-dark;
        transform: scale(1.01);
    }

    &:disabled,
    &[disabled] {
        transform: scale(1);
        cursor: not-allowed;
    }

    @include respond(phone-land) {
        width: 30rem;
    }

    @include respond(desktop) {
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
    }
}
