/* Nav */

.navbar {
    z-index: 2;
    background-color: $color-main;
    padding: 1rem 2rem;
    padding-bottom: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;

    @include respond(tab) {
        height: 7rem;
        padding: 0 3%;
    }

    @include respond(tab-land) {
        background-color: transparent;
    }

    @include respond(desktop) {
        padding: 0 12%;
    }

    &__toggle {
        display: inline-block;
        background-color: $color-white;

        @include respond(tab) {
            display: none;
        }
    }
    &__toggle-icon {
        font-size: 2.5rem;
        color: $color-main;
    }
}

.logo {

    @include respond(tab) {
        font-size: 2.2rem;
    }

    &__link {
        text-decoration: none;
        color: $color-white;
    }
    &__title {
        letter-spacing: 1px;
        font-size: 2.5rem;
        font-weight: inherit;

        @include respond(desktop) {
            font-size: 3.5rem;
        }
    }
}

.navigation {
    position: relative;

    @include respond(tab) {
        display: inline-block;
    }

    &__items {
        display: none;
        list-style: none;
        transition: all .3s;

        @include respond(tab) {
            display: inline-block;
            font-size: 1.8rem;
            color: $color-main;
            margin-top: .75rem;
        }

        &--mobile-open {
            display: block;
            // display: none;
            overflow: auto;
    
            position: absolute;
            top: 2.85rem;
            right: -17.6rem;

            width: 41.5rem;
            height: 40rem;

            background-color: $color-font-dark;
            padding: 2rem 1rem;
            border-bottom: .5rem solid $color-gray-light;

            // animation-name: open-mobile-nav;
            // animation-duration: .5s;

            //animation-delay: -.2s;
            //animation-timing-function: ease;
            //animation-fill-mode: both;

            @include respond(phone-land) {
                left: -40rem;
                width: 74.5rem;
                height: 32rem;
                padding-top: 1rem;
            }

            @include respond(tab) {
                display: none;
            }
        }
    }

    &__item {
        font-size: 2rem;
        margin: 1.5rem;
        border-bottom: 1px solid $color-gray-dark;
        padding-bottom: 2rem;
        transition: all .2s;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            cursor: pointer;
        }

        @include respond(phone-land) {
            padding-bottom: 1rem;
        }

        @include respond(tab) {
            margin: 0 1.25rem;
            display: inline-block;
            transition: all .2s;
            border-bottom: none;
        }

        @include respond(desktop) {
            margin: 0 1.5rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-white;
        letter-spacing: .5px;
        font-size: 1.8rem;
        transition: all .2s;

        &:hover {
            color: $color-font-dark;
            cursor: pointer;
        }
    }
}


.nav-country {
    margin-left: 1.5rem;
    margin-right: 0;
}

.country-btn {
    position: relative;
    color: $color-white;
    background-color: $color-font-dark;
    outline: none;
    border: none;
    border-radius: $border-radius-small;
    cursor: pointer;

    &--open {
        background-color: $color-font-dark;
        text-align: left;
    }

    @include respond(tab) {
        padding: .5rem;
        background-color: $color-main;

        &--open {
            background-color: $color-white;

            .country-btn__caret--down {
                color: $color-main;
            }
        }
    }

    @include respond(tab-land) {
        background-color: transparent; 
    }

    &__img {
        width: 3rem;
        height: 3rem;
        vertical-align: middle;
    }
    &__caret--down {
        font-size: 1.4rem;
        margin-left: .5rem;
    }
}

.nav-cart {
    margin-top: 2rem;
}

.cart-btn {
    position: relative;

    &__img {
        vertical-align: middle;
    }
    &__item-count {
        position: absolute;
        top: -1.2rem;
        left: 2rem;
        height: 2rem;
        width: 2rem;
        font: 400 12px/22px "Oswald",sans-serif;
        background-color: $color-white;
        color: $color-main;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle ;
        box-sizing: content-box;
        border: .1rem solid $color-white;
        padding: .1rem;
        transform: scale(1);
        transform-origin: 50% 50%;
        text-transform: uppercase;

        &:hover {
            background-color: $color-font-dark;
            color: $color-font-light;
        }
    }
}

.nav-category {
    position: relative;

    @include respond(tab) {
        margin-left: 1rem;
    }
}

.category-btn {
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;

    @include respond(tab) {
        padding-left: .5rem;
        padding-top: .5rem;
        padding-bottom: 1rem;
        border-radius: $border-radius-small;
        cursor: pointer;
    }

    &--open {
        @include respond(tab) {
            background-color: $color-font-light;

            .category-btn__caret--down {
                color: $color-main;
            }
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        color: $color-white;
        background-color: $color-main;
        border: 1.5px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.75rem;
        font-size: 100%;

        
    }

    &__caret--down {
        font-size: 1.4rem;
        margin-left: 1rem;
        color: $color-white;

        @include respond(tab) {
            margin-top: 1.25rem;
            margin-left: .5rem;
            margin-right: .5rem;;
        }
    }
}