/* Mobile-first*/

.container {}

/*navbar */

/* header */
header {
    margin-top: 4.7rem;
    width: 100%;
    height: 50vh;
    color: #fff;
    background: url(./img/photo-1484659619207-9165d119dafe.jpg) no-repeat left top;
    
}

.breadcrumb-wrapper {
    width: 100%;
    height: 6rem;
    background: rgba(255,255,255,0.2);
}
.breadcrumb {
    list-style: none;
    display: flex;
    padding: 2rem;
}
.breadcrumb li {
    display: inline-block;
    margin: 0;
}
.breadcrumb>li+li:before {
    padding: 0 .5rem;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb li a {
    padding: 0px .7rem 1px .7rem;
    border: 1px solid var(--font-color-lite);
    border-radius: .3rem;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
}
.breadcrumb li:nth-child(even) a {
    border: 0;
    padding-left: 0;
}
.header-wrapper {
    margin-top: 5rem;
    padding: 0 3rem;
}
.header-wrapper h1 {
    line-height: 5rem;
    font-size: 5.5rem;
    margin: 0;
    text-transform: none;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
}
.header-wrapper h2 {
    padding-top: 1.5rem;
    line-height: 3.5rem;
    margin: 0;
    text-transform: none;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 3rem;
}


/* main */
.main {
    width: 100%;
    color: var(--font-color);   
}

.contact-wrapper {
    padding: 5rem 3rem;
}
.contact-wrapper h3 {
    font-size: 2.8rem;
    margin: 0;
    text-transform: none;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
}
.contact-wrapper p {
    padding-top: .5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0 0 1rem;
}
.contact-form-wrapper {
    padding: 2rem 0 4rem 0;
    margin: 0;
}
.contact-form {
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 300;
}
.form-group {
    margin: 1rem 0 4.5rem 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    position: relative;
}
.form-control {
    width: 100%;
    min-height: 4.4rem;
    box-sizing: content-box;
    border: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid #dad9dd;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.form-group label {
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #333;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    font-weight: 300;
    max-width: 100%;
    margin-bottom: .5rem;
}
.form-group textarea+label {
    top: 10%;
}
textarea.form-control {
    padding-top: 1rem;
}
.g-recaptcha {
    display: none;
}
.contact-form button {
    width: 100%;
    border: 0;
    background-color: var(--main-color);
    color: #fff;
    font: 400 16px/22px "Oswald",sans-serif;
    text-transform: uppercase;
    padding: 1.5rem 1rem;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem;
    margin-top: 2rem;
}

.contact-info-wrapper {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.social-wrapper,
.phone-wrapper {
    margin-bottom: 2.5rem;
}
.social-wrapper h3,
.phone-wrapper h3 {
    font-size: 2.8rem;
    margin: 0;
    text-transform: none;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
}
.social-wrapper p,
.phone-wrapper p {
    padding-top: .5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0 0 1rem;
}

.social-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}
.social-wrapper ul li {
    display: inline-block;
    text-align: center;
    padding-right: 2.5rem;
}
.social-wrapper ul li i {
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--main-color);
    transition: all .2s;
}


/* footer */

/*----------------------------------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {

    /* navbar */
    .navbar {}

    /* header */
    header {
        height: 65vh;
    }
    
    /* main */
   
    /* footer */
}

/*----------------------------------------------------------------------------------------*/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) {}

/*----------------------------------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {

    /* navbar */
    
    /* header */
    header {
        background-size: cover;
        height: 60vh;
    }

    .breadcrumb {
        padding-top: 3rem;
        margin-left: 15rem;
    }
    .header-wrapper {
        margin-left: 13rem;
        margin-top: 10rem;
    }
    

    /* main */
    .main {
        padding: 0 .5rem;
    }

    .contact-wrapper {
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: -12rem;
        background-color: #fff;
        border: 1px solid var(--font-color-lite);
        border-radius: .5rem;

        display: flex;
    }
    .contact-wrapper>div {
        width: 70%;
        padding-right: 23.5rem;
    }

    .contact-form button:hover {
        background-color: var(--font-color);
        cursor: pointer;
        transition: 0.3s;
    } 

    .phone-wrapper {
        margin-top: 4rem;
    }

    .social-wrapper ul li i:hover {
        transform: translateY(-.5rem) scale(1.05);
    }
    
    /* footer */
}

