/* Mobile-first*/
.restaurant-search {
  margin: 4.5rem auto 0 auto;
  padding-top: 6rem;
  width: 94%;
  font-weight: 300;
  display: flex;
  flex-direction: column; }
  .restaurant-search__title {
    font-size: 3.6rem;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2); }
  .restaurant-search__box {
    padding-top: 2rem;
    display: flex;
    flex-direction: column; }
  .restaurant-search__input {
    display: block;
    width: 100%;
    height: 5rem;
    color: #323232;
    line-height: 5rem;
    font-size: 1.8rem;
    padding: .5rem 1.5rem;
    border-style: none;
    border-radius: .5rem;
    margin-bottom: .5rem; }
  .restaurant-search__submit {
    display: block;
    width: 100%;
    background-color: #009a9a;
    color: #009a9a;
    font-weight: 500;
    margin-top: .5rem;
    height: 4rem;
    line-height: 3rem;
    font-size: 1.8rem;
    padding: .5rem 1rem;
    border-style: none;
    border-radius: .5rem;
    transition: all .2s; }

.main {
  width: 94%;
  margin: 0 auto; }

.restaurant-list-breadcrumb {
  padding: 1.5rem;
  border-bottom: 1px solid #e8e8e8; }
  .restaurant-list-breadcrumb__list {
    list-style: none;
    display: flex; }
  .restaurant-list-breadcrumb__item {
    font-size: 1.6rem; }
  .restaurant-list-breadcrumb__separator {
    margin: 0 .5rem; }
  .restaurant-list-breadcrumb--current {
    font-weight: 700;
    font-size: 150%; }

/* restaurant list filter */
.restaurant-list-filter {
  border: 1px solid #e8e8e8;
  margin: 2rem 0; }
  .restaurant-list-filter .filter-dropdown {
    padding: 1.5rem 3rem;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #323232;
    border-bottom: 1px solid #e8e8e8; }
    .restaurant-list-filter .filter-dropdown__icon {
      font-size: 2.7rem;
      margin-right: 1.5rem; }
    .restaurant-list-filter .filter-dropdown__title {
      font-size: 2.2rem;
      margin-right: 11rem; }
  .restaurant-list-filter .filter-checkbox {
    padding: 1.5rem 3rem;
    padding-left: 3.5rem;
    background-color: #e8e8e8;
    font-size: 150%; }

/* restaurant list */
.restaurant-list {
  margin-bottom: 4rem; }
  .restaurant-list__row {
    display: flex;
    flex-direction: column; }

.restaurant-info-card {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e8e8e8; }
  .restaurant-info-card__head {
    min-width: 38.5rem;
    min-height: 23rem;
    background-image: url(./img/pexels-photo-262978.jpeg);
    background-size: cover;
    border-radius: .35rem;
    position: relative; }

.delivery-info {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: 0.5px;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.7); }
  .delivery-info__title {
    font-weight: 300; }
  .delivery-info__time {
    margin-top: .5rem;
    font: 400 15px "Oswald",sans-serif; }

.restaurant-detail {
  padding: 1rem;
  padding-bottom: 2rem;
  min-height: 7.5rem;
  border-bottom: 1px solid #e8e8e8;
  color: #323232; }
  .restaurant-detail__name {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 400;
    letter-spacing: .5px; }
  .restaurant-detail__desc {
    font-size: 1.5rem;
    line-height: 2.8rem; }

.restaurant-tags {
  padding: 1rem 1rem;
  backface-visibility: hidden; }
  .restaurant-tags__tag-item {
    list-style: none;
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 1.5rem;
    padding: .4rem .8rem;
    margin-right: .2rem;
    transition: all .2s;
    background-color: #009a9a;
    color: #fff;
    letter-spacing: .5px; }
    .restaurant-tags__tag-item--empty {
      background-color: #e8e8e8;
      color: #323232; }

/*-----------------------------------------------------------------------------------------------------------*/
/* Mobile Landscape */
@media only screen and (min-width: 480px) {
  .restaurant-search {
    width: 96%; }
  .filter-dropdown__icon--angle-down {
    margin-left: 30rem; } }

/*-----------------------------------------------------------------------------------------------------------*/
/* Tablet Screen Sizes */
/*-----------------------------------------------------------------------------------------------------------*/
/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {
  /* header */
  .restaurant-search {
    padding: 10rem;
    margin: 0;
    margin-top: 4rem;
    margin-left: 7rem;
    width: 80%; }
    .restaurant-search__title {
      font-size: 3.6rem;
      font-weight: 300; }
    .restaurant-search__form {
      display: flex; }
    .restaurant-search__input {
      margin-right: 1rem; }
    .restaurant-search__submit {
      height: 5rem;
      width: 50%;
      margin-top: 0; }
      .restaurant-search__submit:hover {
        cursor: pointer;
        background-color: #323232;
        transform: translateY(-3px); }
  .main {
    padding: 0 10rem; }
  .filter-dropdown:hover {
    cursor: pointer; }
  .filter-dropdown__icon--angle-down {
    margin-left: 0; }
  /* restaurant list */
  .restaurant-list__row {
    flex-direction: row;
    margin-bottom: 4rem; }
  .restaurant-info-card {
    width: 33%;
    margin-right: 2%;
    transition: all .2s; }
    .restaurant-info-card:hover {
      cursor: pointer; }
    .restaurant-info-card__head {
      min-width: auto;
      transition: all .3s; }
      .restaurant-info-card__head:hover {
        transform: scale(1.03);
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .restaurant-tags__tag-item:hover {
    transform: scale(1.05) translateY(-0.2rem); } }
