/* Mobile-first*/

.container{}

/*navbar */
.navbar {
    z-index: 2;
    background-color: var(--main-color);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo {
    color: #fff;
}
.navbar-logo h2 {
    letter-spacing: 1px;
}
.navbar-collapse {
    display: inline-block;
}
.navbar-collapse span {
    font-size: 25px;
    color: #fff;
}
.nav-container {
    display: none;
}
ul.navbar-items li {
    display: inline-block;
    margin-right: 5px;
}


/* header */
.search-container {
    margin: 45px auto 0 auto;
    padding-top: 60px;
    width: 94%;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
.search-container h2 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.search-form-wrapper{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
form.search input {
    display: block;
    width: 100%;
    height: 50px;
    color: #333;
    line-height: 50px;
    font-size: 18px;
    padding: 5px 15px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
form.search button {
    display: block;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
    margin-top: 5px;
    height: 40px;
    line-height: 30px;
    font-size: 18px;
    padding: 5px 10px;
    border-style: none;
    border-radius: 5px;
}

/* main */
.main {
    width: 94%;
    margin: 0 auto;
}
.breadcrumb-wrapper {
    padding: 15px;
    border-bottom: 1px solid var(--font-color-lite);
}
.breadcrumb-wrapper span:first-child {
    font-size: 16px;
}
.breadcrumb-wrapper span:last-child {
    font-weight: 700;
}

/* restaurant list */
.restaurant-list-header {
    border: 1px solid var(--font-color-lite);
    margin: 20px 0;
}
.filter-control {
    padding: 15px 30px;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color-lite);
}
.filter-control i {
    font-size: 27px;
    margin-right: 15px;
}
.filter-control p {
    font-size: 22px;
    margin-right: 110px;
}
.filter-options {
    padding: 15px 30px;
    padding-left: 35px;
    background-color: var(--font-color-lite);
}
.restaurant-results {
    margin-bottom: 40px;
}
.item-row {
    display: flex;
    flex-direction: column;
}
.item-card {
    width: 100%;
    margin-bottom: 10px;
}
.item-card:nth-child(even){
    background-color: var(--font-color-lite);
}
.item-img {
    min-height: 190px;
    min-width: 385px;
    background-image: url(./img/pexels-photo-262978.jpeg);
    background-size: cover;
    border-radius: 5px;
    position: relative;
}
.delivery-time {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    letter-spacing: 0.5px;
}
.delivery-time p {
    font-weight: 300;
}
.delivery-time span {
    margin-top: 5px;
    font: 400 15px "Oswald",sans-serif;
}
.item-desc {
    padding: 10px 10px;
    min-height: 75px;
    border-bottom: 1px solid var(--font-color-lite);
    color: var(--font-color)
}
.item-desc h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: .5px;
}
.item-desc p {
    font-size: 15px;
    line-height: 28px;
}
.item-tags {
    padding: 10px 10px;
}
.item-tags li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: var(--main-color);
    color: #fff;
    padding: 4px 8px;
}

/* footer */



/* Mobile Landscape or Tablet Screen Sizes */
@media only screen and (min-width: 480px)  {

    /* navbar */
    .navbar {}

    /* header */
    .search-container {
        width: 96%;
    }
    
    /* main */

    /* footer */
}



/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

    /* navbar */

    /* header */
    .search-container {
        padding: 100px;
        margin: 0;
        margin-top: 40px;
        margin-left: 20px;
        width: 80%;
    }
    .search-container h2 {
        font-size: 36px;
    }
    form.search button:hover {
        cursor: pointer;
        background-color: var(--font-color);
    }

    /* main */
    .main {
        padding: 0 100px;
    }

   
    /* footer */
    
}

/* checkpoint #1 */

