/* Mobile-first*/

.container{}

/*navbar */

/* header */
.search-container {
    margin: 45px auto 0 auto;
    padding-top: 60px;
    width: 94%;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
.search-container h2 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.search-form-wrapper{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
form.search input {
    display: block;
    width: 100%;
    height: 50px;
    color: #333;
    line-height: 50px;
    font-size: 18px;
    padding: 5px 15px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
form.search button {
    display: block;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
    margin-top: 5px;
    height: 40px;
    line-height: 30px;
    font-size: 18px;
    padding: 5px 10px;
    border-style: none;
    border-radius: 5px;
    transition: all .2s;
}

/* main */
.main {
    width: 94%;
    margin: 0 auto;
}
.breadcrumb-wrapper {
    padding: 15px;
    border-bottom: 1px solid var(--font-color-lite);
}
.breadcrumb-wrapper span:first-child {
    font-size: 16px;
}
.breadcrumb-wrapper span:last-child {
    font-weight: 700;
}

/* restaurant list */
.restaurant-list-header {
    border: 1px solid var(--font-color-lite);
    margin: 20px 0;
}
.filter-control {
    padding: 15px 30px;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color-lite);
}
.filter-control i {
    font-size: 27px;
    margin-right: 15px;
}
.filter-control p {
    font-size: 22px;
    margin-right: 110px;
}
.filter-options {
    padding: 15px 30px;
    padding-left: 35px;
    background-color: var(--font-color-lite);
}
.restaurant-results {
    margin-bottom: 40px;
}
.item-row {
    display: flex;
    flex-direction: column;
}
.item-card {
    width: 100%;
    margin-bottom: 10px;
}
/* .item-card:nth-child(even){
    background-color: var(--font-color-lite);
} */
.item-img {
    min-height: 190px;
    min-width: 385px;
    background-image: url(./img/pexels-photo-262978.jpeg);
    background-size: cover;
    border-radius: 5px;
    position: relative;
}
.delivery-time {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    letter-spacing: 0.5px;
}
.delivery-time p {
    font-weight: 300;
}
.delivery-time span {
    margin-top: 5px;
    font: 400 15px "Oswald",sans-serif;
}
.item-desc {
    padding: 10px 10px;
    min-height: 75px;
    border-bottom: 1px solid var(--font-color-lite);
    color: var(--font-color)
}
.item-desc h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: .5px;
}
.item-desc p {
    font-size: 15px;
    line-height: 28px;
}
.item-tags {
    padding: 10px 10px;
}
.item-tags li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: var(--main-color);
    color: #fff;
    padding: 4px 8px;
    transition: all .2s;
}

/* footer */

/*-----------------------------------------------------------------------------------------------------------*/

/* Mobile Landscape */
@media only screen and (min-width: 480px)  {

    /* navbar */

    /* header */
    .search-container {
        width: 96%;
    }
    
    /* main */
    .filter-control i[class*="fa-angle-down"] {
        margin-left: 300px;
    }


    /* footer */
}

/*-----------------------------------------------------------------------------------------------------------*/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) {}

/*-----------------------------------------------------------------------------------------------------------*/

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {

    /* navbar */

    /* header */
    .search-container {
        padding: 100px;
        margin: 0;
        margin-top: 40px;
        margin-left: 70px;
        width: 80%;
    }
    .search-container h2 {
        font-size: 36px;
        font-weight: 300;
    }
    .search-form-wrapper form {
        display: flex;
    }
    form.search input {
        margin-right: 10px;
    }
    form.search button {
        height: 50px;
        width: 50%;
        margin-top: 0;
    }
    form.search button:hover {
        cursor: pointer;
        background-color: var(--font-color);
        transform: translateY(-3px);
    }

    /* main */
    .main {
        padding: 0 100px;
    }
    .filter-control:hover {
        cursor: pointer;
    }
    .filter-control i[class*="fa-angle-down"] {
        margin-left: 0;
    }

    .item-row {
        flex-direction: row;
    }
    .item-card {
        width: 33%;
        margin-right: 2%;
        transition: all .2s;
        /* border: .5px solid var(--main-color);
        border-radius: 5px; */
    }
    .item-card:hover {
        cursor: pointer;
    }
    .item-img {
        min-width: auto;
        transition: all .3s;
    }
    .item-img:hover {
        transform: scale(1.03);
        box-shadow: 10px 10px 20px rgba(0,0,0,.2);
    }
   
    .item-tags li:hover {
        background-color: var(--font-color);
    }

    /* footer */
    
}

/* checkpoint #1 */

